{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>What are Personas?</h3>
  <p>
    Personas are diferent views of your Profile, a sort of 'alter egos'. They serve as filters and allow contacts associated with a particular Persona to synchronize only a designated subset of your Profile data. Let's use an example here: Say you have a bunch of work colleagues that should not be aware of your private phone number, home address or funny nicknames, but should always have your most current work details. You could create a 'Work' Persona, filter out any non-work related information in your Profile and associate your professional contacts with it.
  </p>

  <h3>Difference between a Profile and Personas</h3>
  <p>
    Imagine that Profile is a collection of building blocks, where each block is a piece of personal information. You have a block with your name, another one with phone number, third one with physical address and so on. Personas use those bulding blocks to create a depiction of yourself your contacts will see. Creating a Persona is just like building a houses. You have the same basic set of ingredients, but the final result will differ.
  </p>

  <h3>What are Public Personas?</h3>
  <p>
    Public Personas can be seen or synchronized by anyone who is using Psinque. You are free to use them as an individual, but they were created with business users in mind. If you have for example a Pizza Parlor or a shoe repair shop, you could use Public Personas to always keep your customers' devices up-to-date with your contact data.
  </p>

  <h3>Creating new Persona</h3>
  <p>
    Perform the following steps if you would like to create a new Persona
  </p>
  <ol>
    <li>
      In the top menu click Personas
    </li>
    <li>
      In the empty field in the 'New persona' section type in the desired named and click the 'plus' sign to the right
    </li>
    <li>
      Once created, the new persona will automatically open and you will be able to see every element from your profile
    </li>
    <li>
      Select the elements from your Profile that you want to associate with that Persona, by checking or unchecking the box next to an element
    </li>
    <li>
      Once ready, save your changes using the Save button in the bottom section of that Persona
    </li>
  </ol>

  <h3>Generating vCard for a Persona</h3>
  <p>
    You may generate a <a href='http://en.wikipedia.org/wiki/VCard'>vCard</a> for any Persona you have created. Supported output formats are plain text (.VCF) and QR-Code (.JPG). Generating vCard in Text format is usually much faster.
  </p>
  <ol>
    <li>
      In the top menu click Personas.
    </li>
    <li>
      Click on the Persona that you would like to generate a vCard for. 
    </li>
    <li>
      In the bottom part of the persona configuration find the 'Get vCard' section
    </li>
    <li>
      Click the button depicting a letter 'T' if you would like to generate a .vcf file
    </li>
    <li>
      If you would like to download a QR code, click the button depicting a QR pattern
    </li>
    <li>
      Once you click, download process should start within seconds.
    </li>
  </ol>

  <h3>Using the URL link</h3>
  <p>
    Describe it in detail
  </p>

  <h3>Activating or deactivating a Public Persona</h3>
  <p>
    A public persona can be enabled or disabled after performing these simple steps
  </p>
  <ol>
    <li>
      In the top menu click Personas.
    </li>
    <li>
      In the upper part of the Personas page find "Public Profile"
    </li>
    <li>
      Click in the white square next to it to either enable or diable public profile
    </li>
    <li>
      Once enabled, a persona named "Public" will appear in the list below.
    </li>
  </ol>

  <h3>Editing Persona</h3>
  <p>
    Personas can be modified at any time by wither removing existing or adding new personal information details. The modification will automatically update your entry in your contacts' devices.
  </p>
  <ol>
    <li>
      In the top menu click Personas.
    </li>
    <li>
      Click on the Persona that you would like to delete. 
    </li>
    <li>
      Select or deselect the entries you would like show or hide from contacts associated with that Persona.
    </li>
    <li>
      Once ready, click the save button in the bottom part of the Persona settings.
    </li>
  </ol>

  <h3>Deleting existing Persona</h3>
  <p>
    Every generated persona can be deleted at any time. Before you proceed, we recommend you to manually reassign your contacts associated with that Persona to another one, or else they will be automatically reassigned to 'Default' group.
  </p>
  <ol>
    <li>
      In the top menu click Personas.
    </li>
    <li>
      Click on the Persona that you would like to delete. 
    </li>
    <li>
      In the bottom part of the persona configuration find the 'Remove' section.
    </li>
    <li>
      Click the delete button.
    </li>
  </ol>


{% endblock %}
