{% import "templates/ui.html" as ui -%}
{%- macro tablelessbutton(id, class="", tooltip="") -%}
  <span title="{{ tooltip }}" class="{{ class }} buttons"></span>
{%- endmacro -%}
<div class="contacts">
  <div class="shortdetails">
    <div class="contactphotos">
      {% if contact.incoming and contact.incoming.persona.picture %}
        <img src="{{ contact.incoming.persona.picture.servingUrl }}=s40-c" width="40" height="40" alt="Profile picture" />
      {% else %}
        <img src="/images/nophoto_small.png" />
      {% endif %}
    </div>
    <div class="contactnames clickable">
      {{ contact.displayName }}
      <input type="hidden" value="{{ contact.key() }}" class="contactkeys" />
    </div>
    <div class="contactcontrols">
      {% if contact.incoming %}
        {{ tablelessbutton("contact", "buttons-in-active", tooltip="Incoming psinque is active") }}
      {% else %}
        {{ tablelessbutton("contact", "buttons-in-inactive incominggetters clickable", tooltip="Activate incoming psinque") }}
      {% endif %}
      {% if contact.outgoing %}
        {{ tablelessbutton("contact", "buttons-out-active", tooltip="Outgoing psinque is active") }}
      {% else %}
        {{ tablelessbutton("contact", "buttons-out-inactive", tooltip="Outgoing psinque is not active") }}
      {% endif %}
      {% if contact.incoming %}
        {% if contact.status == "private" %}
          {{ tablelessbutton("contact", "buttons-private", tooltip="You have access to the private contact data") }}
        {% elif contact.status == "pending" %}
          {{ tablelessbutton("contact", "buttons-pending", tooltip="Your request to access private data is pending") }}
        {% else %}
          {{ tablelessbutton("contact", "buttons-public contactupgraders clickable", tooltip="Request access to private contact data") }}
        {% endif %}
      {% else %}
        {{ tablelessbutton("contact", "buttons-private", tooltip="You have access to the private contact data") }}
      {% endif %}
      {{ tablelessbutton("contact", "buttons-remove contactremovers clickable", tooltip="Remove this contact") }}
    </div>
  </div>
  <div class="fulldetails hiddenelements">
    {% if contact.incoming %}
      {% for permit in contact.incoming.persona.permitEmails %}
        {% if permit.canView %}
          <div>
            <div class="contacticons emailicons"></div>          
            <a href="mailto:{{ permit.userEmail.itemValue }}">{{ permit.userEmail.itemValue }}</a>
          </div>
        {% endif %}
      {% endfor %}
      {% for permit in contact.incoming.persona.permitIMs %}
        {% if permit.canView %}
          <div>
            <div class="contacticons imicons"></div>          
            {{ permit.userIM.itemValue }}
          </div>
        {% endif %}
      {% endfor %}
      {% for permit in contact.incoming.persona.permitWWWs %}
        {% if permit.canView %}
          <div>
            <div class="contacticons wwwicons"></div>          
            <a href="{{ permit.userWebpage.itemValue }}">{{ permit.userWebpage.itemValue }}</a>
          </div>
        {% endif %}
      {% endfor %}
      {% for permit in contact.incoming.persona.permitPhones %}
        {% if permit.canView %}
          <div>
            <div class="contacticons phoneicons"></div>
            {{ permit.userPhoneNumber.itemValue }}
          </div>
        {% endif %}
      {% endfor %}
      {% for permit in contact.incoming.persona.permitAddresses %}
        {% if permit.canView %}
          <div>
            <div class="contacticons addressicons"></div>
            {{ permit.userAddress.itemValue }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{{ ui.beginform(class="grouppersonaselects hiddenelements") }}
  <table><tbody><tr>
    {{ ui.tablelabel("Persona") }}
    {{ ui.dropdown(personas, contact.persona.key(), class = "personaselects", tdclass = "") }}
    {{ ui.checkbutton(class="personachangers", tooltip="Apply") }}
  </tr></tbody></table>
{{ ui.endform() }}
