
/****************************************
 * General definitions
 ****************************************/

html, body { height: 100%; }

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 150%;
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #e35c33;
}

.hiddenelements {
    display: none;
}

::selection {   /* will not work with input[text] */
    background-color: #e35c33;
}

::-moz-selection {
    background-color: #e35c33;
}

/****************************************
 * Layout
 ****************************************/

div#uberwrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

div.wrappers {
    width: 100%;
}

div#headerwrapper {
    height: 61px;
    position: fixed;
    box-shadow: 0 0px 6px 3px rgba(215,212,203,0.5);
    background-color: #404040;
    position: fixed;
    top: 0;
    z-index: 9999;
}

div#contentwrapper {
    padding-bottom: 40px;
    margin-top: 61px;
}

div#footerwrapper {
    height: 40px;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #404040;
    z-index: 999;
}

div#header {
    width: 920px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

div#content {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 12px;
/*     height: 100%; */
    box-shadow: 0 0px 12px 3px #b0b0b0;
    background-color: #e0dcd4;
    min-height: 500px;
    position: relative;
    top: -1500px;
    z-index: 500;
}

div#footer {
    width: 960px;
    margin: 0 auto;
}

div#photos {
    float: left;
    width: 196px;
    margin-right: 12px;
    text-align: right;
    overflow: hidden;
}

div#profile {
    float: left;
    width: 712px;
}

div.onecolumn {
    width: 668px;
    padding: 0;
    margin: 0 auto;
}

/****************************************
 * Header
 ****************************************/

div#header table {
    width: 100%;
}

div#header td {
    vertical-align: top;
}

div#header td#logotext {
    margin: 0;
    padding-left: 34px;
    width: 161px;
    text-align: left;
}

div#header ul {
    list-style: none;
    float: right;
    padding: 0;
}

div#header li {
    float: left;
}

div#header li a {
    font-size: inherit;
    text-decoration: none;
    display: block;
    padding-top: 0px;
    width: 120px;
    height: 28px;
    text-align: center;
    color: #fff;
}

div#header li a:hover {
    color: #de5d35;
}

div#header li a.active {
    font-weight: 800;
    width: 118px;
    height: 28px;
}

div#header td#extras {
    width: 122px;
}

div#header td#extras a {
    width: 100px;
    padding-right: 0px;
    text-align: right;
}


/****************************************
 * Footer
 ****************************************/

div#footer {
    font-size: 13px;
}

/*div#footer a:hover {
    color: #e35c33;
}*/

div#footer > div#leftfoot {
    width: 100px;
    float: left;
    text-align: left;
}

div#footer > div#centerfoot {
    margin: 0 auto;
    float: left;
    text-align: center;
    margin-top: 3px;
    width: 710px;
}

div#footer > div#rightfoot {
    width: 150px;
    float: right;
    text-align: right;
    margin-top: 3px;
}

div#centerfoot > a {
    margin-left: 15px;
}

div.socialicons {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
    background: url(/images/social.png)  no-repeat;
}

div#social_facebook{
    background-position: 0px 0px;
}

div#social_facebook:hover {
    background-position: 0px -24px;
}

div#social_twitter {
    background-position: -24px 0px;
}

div#social_twitter:hover {
    background-position: -24px -24px;
}

div#social_googleplus {
    background-position: -48px 0px;
}

div#social_googleplus:hover {
    background-position: -48px -24px;
}
