
/****************************************
 * General definitions
 ****************************************/

html, body { height: 100%; }

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 100%;
    background-color: #d8d4cb;
}

a {
    color: #000;
    text-decoration: none;
}

.hiddenelements {
    display: none;
}

/****************************************
 * Layout
 ****************************************/

div#uberwrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

div.wrappers {
    width: 100%;
}

div#headerwrapper {
    height: 59px;
    background-color: #ECE8DF;
    border-bottom: 1px solid #404040;
}

div#contentwrapper {
    padding-bottom: 40px;
}

div#footerwrapper {
    height: 39px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #404040;
    background: #fff;
}

div#header {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

div#content {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

div#footer {
    width: 960px;
    margin: 0 auto;
}

div#photos {
    float: left;
    width: 230px;
}

div#profile {
    float: left;
    width: 690px;
}

div.onecolumn {
    width: 710px;
    padding: 0;
    margin: 0 auto;
}

/****************************************
 * Header
 ****************************************/

div#header table {
    width: 100%;
}

div#header td {
    vertical-align: top;
}

div#header td#logographics img {
    margin-top: 10px;
    margin-left: 29px;
}

div#header td#logotext img {
    margin-top: 10px;
    margin-left: 5px;
}

div#header #animatedlogo {
    display: none;
}

div#header ul {
    list-style: none;
    float: left;
}

div#header li {
    float: left;
}

div#header li a {
    font-size: inherit;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 120px;
    height: 28px;
    text-align: center;
}

div#header li a:hover {
    color: #de5d35;
}

div#header li a.active {
    font-weight: 800;
    border: 1px solid #404040;
    border-bottom: none;
    width: 118px;
    height: 28px;
    padding-top: 7px;
    background: #d9d4cc;
}

div#header td#extras {
    width: 100px;
    padding-right: 0px;
}

/****************************************
 * Footer
 ****************************************/

div#footer table {
    margin: 0;
    width: 100%;
    font-size: 13px;
}

div#footer a:hover {
    color: #de5d35;
}

div#footer td#socialmedia {
    width: 100px;
    text-align: left;
}

td#socialmedia img {
    margin-right:5px;
}

div#footer td#links {
    width: 600px;
    text-align: center;
}

td#links a {
    margin-left: 15px;
}

div#footer td#numalab {
    width: 250px;
    text-align: right;
}
