
* { padding: 0; margin: 0; }

html {
  height:100%;
}

body {
  font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
  text-align: center;
  min-width: 930px;
}

p {
    padding: 10px;
}

A:link    {text-decoration: none; color: #2580a2}
A:visited {text-decoration: none; color: #2580a2}
A:active  {text-decoration: none; color: #2580a2}
A:hover   {text-decoration: none; color: #8025a2}

A.toplink:link    {color: #80a225}
A.toplink:visited {color: #80a225}
A.toplink:active  {color: #80a225}
A.toplink:hover   {color: #2580a2}

#wrapper {
  width: 921px;
  margin: 0 auto;
  text-align: left;
}

#topheader {
  background: #2580a2;
  color: #aaa;
  width: 917px;
  float: left;
  height: 61px;
  padding: 0px;
  margin-top: 10px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
/*   border-top: 2px solid #333; */
}

#topheader h1 {
  font-family: Ubuntu, Verdana, Helvetica, sans-serif;
  font-size: 32px;
  color: #eee;
  padding: 10px;
}

#upperbar {
  color: #fff;
  width: 917px;
  float: left;
  height: 32px;
  background: #333;
  padding: 0px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

#menu {
  background: #333;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

#menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#menu a {
  background: #333 url("/images/seperator.gif") bottom right no-repeat;
  color: #ccc;
  display: block;
  float: left;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
}

#menu a:hover {
  background: #2580a2 url("/images/hover.gif") bottom center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

#menu a.active {
  background: #2580a2 url("/images/hover.gif") bottom center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

#loginmenu {
  color: #fff;
  width: auto;
  float: right;
  height: 16px;
  background: #333;
  padding: 8px 5px;
  text-align: right;
}

#contentwrapper {
  float:left;
  margin: 0 auto;
  width: 917px;
  padding: 0px;
  background: #eee;
  padding: 0px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
/*   border-bottom: 2px solid #333; */
}

#content {
/*  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;*/
  color: #000;
  padding: 10px;
/*   min-height: 95%; */
}

/* *** Formatting for the profile entry form *** */
#content label{
  float: left;
  width: 160px;
  font-weight: bold;
}
#content input, textarea{
  width: 280px;
  margin-bottom: 0px;
}
#content textarea{
/*   width: 250px; */
  height: 150px;
}
#content .boxes{
  width: 1em;
}
#submitbutton{
  margin-left: 120px;
  margin-top: 5px;
  width: 90px;
}
#content br{
  clear: left;
}
#bottonButton {
  text-align: center;
}
#content .error {
  float: none;
  padding-left: 10px;
}
/* ******************************************* */

#leftcolumn {
	float: left;
	width: 140px;
/* 	min-height: 95%; */
/* 	padding: 10px; */
/* 	background: #aaa; */
  margin-bottom: 20px;
}

#rightcolumn {
  float: left;
  min-height: 95%;
  border-left: 2px solid #aaa;
  padding: 10px;
}

#rightcolumn p {
  padding: 0px;
  padding-top: 5px;
}

#footer { 
  width: 917px;
  height: 25px;
  clear: both;
  color: #333;
  text-align: center;
/*   background: #fff url("/images/bottomImage.gif") bottom right no-repeat; */
  background: #2580a2;
  padding: 0px;
}

#footer p {
  padding-top: 5px;
  color: #fff;
}

/* Google Maps interface */
.mapCanvas {
  width: 60%;
  height: 400px;
  background: #bababa;
  margin: 10px;
}

.hideMap {
  display: none;
}

.showMap {
  display: none;
}
