
div#permitlist h3 {
    background-color: #404040;
    background-image: url('/images/squareicons/downarrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    width: 852px;
    height: 40px;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

div#permitlist h3 img {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

div#permitlist div p {
    margin: 0;
}

