
div#permitlist h3 {
    background-color: #404040;
    width: 700px;
    height: 30px;
    color: #fff;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

div#permitlist h3 label {
  margin-top: 10px;
}

div#permitlist .ui-accordion-header-active img.downarrows {
    display: inline-block;
}  

div#permitlist .ui-accordion-header-active img.uparrows {
    display: none;
}  

div#permitlist .ui-accordion-header-inactive img.downarrows {
    display: none;
}  

div#permitlist .ui-accordion-header-inactive img.uparrows {
    display: inline-block;
}  

div#permitlist h3 img {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

div#permitlist h3 img.headerarrows {
    float: right;
}

div#permitlist h3 img.downarrows {
    display: none;
}

div#permitlist div p {
    margin: 0;
}
