
div#personalist h3 {
    background-color: #404040;
    width: 658px;
    height: 30px;
    color: #fff;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

div#personalist h3 label {
  margin-top: 10px;
}

div#personalist .ui-accordion-header-active img.downarrows {
    display: inline-block;
}  

div#personalist .ui-accordion-header-active img.uparrows {
    display: none;
}  

div#personalist .ui-accordion-header-inactive img.downarrows {
    display: none;
}  

div#personalist .ui-accordion-header-inactive img.uparrows {
    display: inline-block;
}  

div#personalist h3 img {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

div#personalist h3 img.headerarrows {
    float: right;
}

div#personalist h3 img.downarrows {
    display: none;
}

div#personalist div p {
    margin: 0;
}

div.tableform td.forminputs.imageinputs {
    line-height: 0;
    display: inline-block;
    word-spacing: 8px;
}

td.imageinputs img {
    margin: 0;
    margin-top: 12px;
}

td.imageinputs img:nth-child(-n+9) {
    margin-top: 0;
}

.chosen-container-single .chosen-single span {
    text-align: left;
    margin-left: 12px;
}
