
div#content h3 {
    text-align: center;
}

.googlemaps {
    width: 100%;
    height: 300px;
}

div#uploadbutton {
    width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
}

.fileinput-button {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: 2;
    height: 40px;
    direction: rtl;
}

.fileinput-button span {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

div#mosaic {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
}

div.photoitem {
    margin-bottom: 12px;
    float: right;
    width: 100%;
}

div.photoitem a {
    display: block;
    float: right;
    position: relative;
    line-height: 80%;
}

div.photoitem img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
/*     -webkit-filter: grayscale(100%); */
/*   -webkit-filter: brightness(-65%); */
  -webkit-filter: sepia(70%);
  z-index: 1;
}

div.photoitem img:hover {
/*     -webkit-filter: grayscale(0%); */
/*   -webkit-filter: brightness(0%); */
  -webkit-filter: sepia(0%);
}

div.photoremovebuttons {
    float: right;
    margin-right: 12px;
    position: absolute;
    z-index: 2;
}
