
/****************************************
 * General
 ****************************************/

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

div#wrapper {    
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
/*     padding: 0px; */
    margin-top: 77px;
    margin-bottom: 52px;
}

div#content {
    width: 957px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
/*     position: relative; */
    padding-top: 10px;
/*     padding-bottom:  */
    background-color: #d8d4cb;
}

div.outerwrappers {
    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

/****************************************
 * Header
 ****************************************/

div#headerwrapper {
    top: 0;
    height: 75px;
    border-bottom: 2px solid #000;
}

div#header {
    position: relative;
    width: 957px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 50px;
    height: 50px;
    text-align: left;
}

div#topicons {
    float: right;
    margin-right: 100px;
}

div#header img {
    float: left;
}

div#header ul {
    list-style: none;
    float: left;
}

div#header li {
    float: left;
}

div#header li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    text-align: center;
}

div#header li a:hover {
    border-bottom: 3px solid #000;
}

div#header li a.active {
    font-weight: 800;
    border-bottom: 3px solid #000;
}

#animatedlogo {
    display: none;
}

/****************************************
 * Two or one column layout
 ****************************************/

div#images {
    float: left;
    width: 230px;
    padding: 10px;
}

div#mycard {
    float: left;
    width: 627px;
    padding: 10px;
}

div.onecolumn {
    float: left;
    padding-left: 165px;
}

/****************************************
 * Square forms are implemented with tables
 ****************************************/

div.tableform {
    padding: 0;
    margin: 0;
    width: 627px;
}

div.tableform table {
    width: 100%;
    padding: 0;
    height: 39px;
    border: 0;
    border-collapse: collapse;
    margin: 0;
}

div.tableform tr {
    border-bottom: 10px solid #d8d4cb;
}

div.tableform td {
    padding: 0;
    margin: 0;
}

div.tableform td.formlabels {
    vertical-align: text-top;
    width: 150px;
    padding-right: 5px;
    padding-top: 0px;
    background-color: #404040;
    color: #fff;
    font-size: 15px;
    text-align: right;
}

div.tableform td.formlabels label {
    display: block;
    padding-top: 10px;
    background-color: #404040;
}

div.tableform td.forminputs {
    padding-left: 10px;
}

div.tableform td.formbuttons {
    text-align: right;
/*    padding-left: 10px;*/
    padding-right: 0px;
    margin-left: 10px;
    width: 39px;
/*     background-color: #fff; */
}

div.tableform td.formbuttons div.checkboxwrapper {
    background-color: #fff;
    display: block;
/*     padding: 5px; */
    margin: 0;
    width: 39px;
    height: 39px;
}

div.tableform td.formextras {
/*     padding-left: 10px; */
    padding-right: 0px;
    width: 120px;
}

div.tableform td.forminputs input[type=text],select,label {
    background-color: #fff;
    border: 0;
    font-size: 15px;
    width: 100%;
    height: 39px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.tableform td.forminputs label {
    display: block;
    padding-top: 8px;
    vertical-align: middle;
    cursor: pointer;
}

div.tableform a,img {
    display: block;
}

/****************************************
 * Checkboxes
 ****************************************/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + div {
/*     display: inline-block; */
    float: left;
    margin: 5px;
    width: 29px;
    height: 29px;
    background: url(/images/squareicons/checkbox.png) left top no-repeat;
}

input[type="checkbox"]:checked + div {
    background:url(/images/squareicons/checkbox.png) -29px 0px no-repeat;
}

/****************************************
 * Footer
 ****************************************/

div#footerwrapper {
    bottom: 0px;
    height: 35px;
    text-align: center;
    border-top: 2px solid #000;
    padding-top: 15px;
}

div#footer {
    width: 957px;
    position: relative;
    margin: 0 auto;
}

div#footer table {
    margin: 0;
    width: 100%;
    font-size: 10px;
}

div#footer td#copyright {
    width: 250px;
    text-align: left;
}

div#footer td#faq {
    width: 457px;
    text-align: center;
}

td#faq a {
    margin-left: 5px;
    margin-right: 5px;
}

div#footer td#numalab {
    width: 250px;
    text-align: right;
}
