
div.aboveconent {
    width: 100%;
    padding: 0;
    background-color: #d8d4cb;
}

div.abovecontentcolumn {
    float: none;
    width: 627px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

div#pendings {
    margin-top: 20px;
    margin-bottom: 10px;
}

div#searchbox {
    width: 100%;
    background-color: #404040;
    height: 49px;
    color: white;
    padding-top: 5px;
    text-align: left;
}

div#searchbox table, tbody, tr {
    width: 100%;
    padding: 0;
    margin: 0;
}

div#searchbox td {
    height: 39px;
}

div#searchbox td.formbuttons, td.formextras {
    margin: 0;
    margin-right: 10px;
}

div#searchbox select {
    width: 220px;
}

div#searchbox td.forminputs {
    width: 100%;
}

div#searchbox td.forminputs input[type=text] {
    width: 100%;
    height: 39px;
    background-color: #fff;
    border: none;
    padding: 5px;
}

div.contact {
    width: 607px;
    height: 104px;
    background-color: #fff;
    padding: 10px;
    margin: 5px 0 5px;
}

div.contactphoto {
    height: 104px;
    width: 104px;
    float: left;
}

div.contactdetails {
    height: 104px;
    width: 380px;
    float: left;
    margin-left: 10px;
    text-align: left;
}

div.psinques {
    height: 104px;
    width: 104px;
    float: right;
}

div.tableform td.formnopadding {
    padding-left: 0;
}

div.psinques img {
    display: inline-block;
}
