
div#header li a {
    padding-bottom: 6px;
}

div.aboveconent {
    width: 100%;
    padding: 0;
    background-color: #d8d4cb;
}

div.abovecontentcolumn {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

div#pendings {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.contact {
    width: 670px;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

div.shortdetails {
    height: 40px;
    width: 100%;
}

div.fulldetails {
    width: 100%;
    border-top: 1px solid #404040;
    margin-top: 10px;
}

div.contactphoto,
div.contactname {
    float: left;
}

div.contactphoto {
    width: 40px;
}

div.contactname {
    width: 380px;
    margin-left: 10px;
    text-align: left;
}

div.contactcontrol {
    float: right;
}

div.tableform {
    width: 690px;
    margin: 0 auto;
}

div.tableform td.formnopadding {
    padding-left: 0;
}

div.psinques img {
    display: inline-block;
    margin-left: 5px;
}
