
/****************************************
 * General
 ****************************************/

html, body {
/*     height: auto !important; */
    height: 100%;
/*     min-height: 100%; */
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif;
/*     font-family: 'Segoe UI Light', 'Segoe UI Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-size: 18px;
    line-height: 100%;
    background-color: #fff;
}

div#uberwrapper {
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
}

div#contentwrapper {
    width: 100%;
    height: auto !important; 
    height: 100%;
    min-height: 100%; 
/*     padding-top: 75px; */
/*     padding-bottom: 52px; */
}

div#content {
    width: 1180px;
    height: auto !important; 
    height: 100%;
    min-height: 100%; 
    margin: 0 auto;
    padding: 10px;
    background-color: #d8d4cb;
}

div.outerwrappers {
/*    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
    background-color: #fff;*/
/*     height: 50px; /* Define height of the footer */ */
    position: absolute;
/*     bottom: 0; /* Sit it on the bottom */ */
    left: 0;
    width: 100%; /* As wide as it's allowed */
}

a {
/*     color: #e35c33; */
    color: #404040;
    text-decoration: none;
}

.hiddenelements {
    display: none;
}

/****************************************
 * Header
 ****************************************/

div#headerwrapper {
    top: 0;
    height: 75px;
}

div#header {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    height: 75px;
    text-align: left;
    background-color: #404040;
}

div#header img {
    float: left;
}

div#header ul {
    list-style: none;
    float: left;
}

div#header li {
    float: left;
}

div#header li a {
    color: #fff;
    font-size: inherit;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 125px;
    text-align: center;
}

div#header li a:hover {
    background: url(/images/underline.png) left bottom no-repeat;
}

div#header li a.active {
    font-weight: 800;
    background: url(/images/underline.png) left bottom no-repeat;
}

div#header table {
    width: 100%;
    height: 75px;
}

div#header td#logographics {
  padding-left: 12px;
/*   padding-top: 9px; */
  width: 50px;
}

div#header td#logotext {
  width: 200px;
}

div#header td#topicons {
  width: 124px;
/*   text-align: left; */
  padding-right: 21px;
}

div#header td#topicons img {
  margin-left: 12px;
}

#animatedlogo {
    display: none;
}

/****************************************
 * Two or one column layout
 ****************************************/

div#images {
    float: left;
    width: 275px;
    padding: 10px;
}

div#mycard {
    float: left;
    width: 862px;
    padding: 10px;
}

div.onecolumn {
/*     float: left; */
/*     padding-left: 167px; */
    width: 862px;
    padding: 0;
    margin: 0 auto;
}

/****************************************
 * Square forms are implemented with tables
 ****************************************/

div.tableform {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.tableform table {
    width: 100%;
    height: 50px;
}

div.tableform tr {
    border-bottom: 12px solid #d8d4cb;
}

div.tableform td.formlabels {
    vertical-align: text-top;
    width: 200px;
    padding-right: 10px;
    padding-top: 0px;
    background-color: #404040;
    color: #fff;
    text-align: right;
}

div.tableform td.formlabels label {
    display: block;
    padding-top: 12px;
    background-color: #404040;
}

div.tableform td.forminputs {
    padding-left: 12px;
}

div.tableform td.formbuttons {
    text-align: right;
    padding-right: 0px;
    margin-left: 10px;
    width: 50px;
}

div.tableform td.formbuttons div.checkboxwrapper {
    background-color: #fff;
    display: block;
    margin: 0;
    width: 50px;
    height: 50px;
}

div.tableform td.formextras {
    padding-right: 0px;
    width: 120px;
}

div.tableform td.forminputs input[type=text],select,label {
    background-color: #fff;
    border: 0;
    font: inherit;
    font-size: inherit;
    width: 100%;
    height: 50px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.tableform td.forminputs label {
    display: block;
    padding-top: 15px;
    vertical-align: middle;
}

div.tableform .clickable {
    cursor: pointer;
}

div.tableform img, span.buttons {
    display: block;
}

div.tableform span.buttons {
    cursor: pointer;
}

/****************************************
 * Checkboxes
 ****************************************/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + div {
    float: left;
    margin: 6px;
    width: 37px;
    height: 37px;
    background: url(/images/squareicons/checkbox.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + div {
    background:url(/images/squareicons/checkbox.png) -37px 0px no-repeat;
}

/****************************************
 * Footer
 ****************************************/

div#footerwrapper {
    bottom: 0;
    height: 35px;
    text-align: center;
    border-top: 2px solid #000;
    padding-top: 15px;
}

div#footer {
    width: 957px;
    position: relative;
    margin: 0 auto;
}

div#footer table {
    margin: 0;
    width: 100%;
    font-size: 11px;
}

div#footer td#copyright {
    width: 250px;
    text-align: left;
}

div#footer td#faq {
    width: 457px;
    text-align: center;
}

td#faq a {
    margin-left: 5px;
    margin-right: 5px;
}

div#footer td#numalab {
    width: 250px;
    text-align: right;
}
