
div#pendings {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.contacts {
    width: 670px;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

div.shortdetails,
div.fulldetails {
    width: 100%;
}

div.shortdetails {
    height: 40px;
}

div.fulldetails {
    border-top: 1px solid #404040;
    margin-top: 10px;
}

div.contactphotos,
div.contactnames {
    float: left;
}

div.contactphotos {
    width: 40px;
}

div.contactnames {
    width: 380px;
    margin-left: 10px;
    text-align: left;
}

div.contactcontrols {
    float: right;
}

table.contacttables {
    width: 620px;
    margin-left: 50px;
}

table.contacttables td {
    vertical-align: top;
}

td.groupspermits {
    width: 300px;
}

td.groupspermits table {
    text-align: center;
}

.widedropdown {
    width: 150px;
}

div.tableform {
    width: 690px;
    margin: 0 auto;
}

div.tableform td.forminputs label {
    height: 100%;
    line-height: 120%;
    padding-bottom: 10px;
}

div.psinques img {
    display: inline-block;
    margin-left: 5px;
}
