
a.contentlinks {
    color: #de5d35;
}

p {
    font-size: 18px;
    line-height: 120%;
}

body {
    color: #404040;
    background-color: white;
}

div#uberwrapper {
    background: white url("/images/backlogo.gif") top center no-repeat;
}

div#contentwrapper {
    background-color: #fff;
}

div#content {
    top: 1500px;
    box-shadow: 0 0px 12px 3px #e0dcd4;
    background-color: #fff;
    padding-top: 20px;
}

div#biglogo {
/*    padding-top: 200px;
    text-align: center;
    z-index: 100;
    position: absolute:
    margin: 0 auto;*/
/*     height: 180px; */
/*     padding-top: 70px; */
/*     width: 100%; */
/*     border-bottom: 1px solid #404040; */
/*     margin: 0 auto; */
}

h3 {
/*     background: url("/images/smalllogo.png") left no-repeat; */
/*     padding-left: 35px; */
    background-color: #404040;
    color: white;
    height: 32px;
    padding-top: 8px;
    padding-left: 12px;
}