
.clickable {
    cursor: pointer;
}

.unsavedchanges {
    color: #de5d35;
}

div#animatedlogo {
    width: 140px;
    height: 140px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
}

div#animatedlogo img {
    position: relative;
    left: 30px;
    top: 30px;
}

/****************************************
 * Checkboxes
 ****************************************/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + div {
    float: left;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: url(/images/checkbox.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + div {
    background:url(/images/checkbox.png) -30px 0px no-repeat;
}

/****************************************
 * Dropdowns
 ****************************************/

   
/****************************************
 * Square forms are implemented with tables
 ****************************************/

div.tableform {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.tableform table {
    width: 100%;
}

div.tableform tr {
    border-bottom: 12px solid #d8d4cb;
}

div.tableform td {
    padding: 0px;
}

div.tableform td.formlabels {
    vertical-align: text-top;
    width: 200px;
    background-color: #404040;
    color: #fff;
    text-align: right;
    font-weight: 600;
}

div.tableform td.formlabels label {
    display: block;
    margin-top: 12px;
    margin-right: 10px;
    background-color: #404040;
    height: 28px;
}

div.tableform td.forminputs {
    padding-left: 12px;
}

div.tableform td.forminputs.shortinput {
    width: 80px;
}

div.tableform td.forminputs.mediuminput {
    width: 160px;
}

div.tableform td.forminputs.biginput {
    width: 240px;
}

div.tableform td.formbuttons {
    text-align: right;
    padding-right: 0px;
    margin-left: 10px;
    width: 40px;
    vertical-align: top;
}

div.tableform td.formbuttons span.checkboxwrapper {
    background-color: #fff;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
}

div.tableform td.formextras {
    padding-right: 0px;
    width: 120px;
}

div.tableform td.forminputs input[type=text],
div.tableform td.forminputs input[type=password] {
    height: 40px;
}

div.tableform td.forminputs input[type=text],
div.tableform td.forminputs input[type=password],
div.tableform td.forminputs label {
    background-color: #fff;
    border: 0;
    font: inherit;
    font-size: inherit;
    width: 100%;
    height: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.tableform td.forminputs label {
    height: 40px;
    padding-top: 12px;
    display: block;
}

div.tableform span.buttons {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

div.tableform .sublabel {
    text-align: right;
/*     width: 160px; */
}

/****************************************
 * Dialog boxes
 ****************************************/

.ui-dialog {
    background-color: white;
    border: none;
    z-index: 9999;
}

.ui-dialog-titlebar {
    width: 100%;
    background-color: #de5d35;
    height: 35px;
    padding-top: 5px;
}

.ui-dialog-title {
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    font-weight: 600;
}

.ui-dialog-titlebar-close {
    float: right;
    margin-right: 5px;
}

.ui-dialog-buttonset {
    padding-bottom: 10px;
}

.ui-button {
    background-color: #e35c33;
    border: none;
    padding: 0;
}

.ui-button-text-only {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #ece8df;
    color: #404040;
}

.ui-button-text {
    padding: 10px;
    display: block;
}

.ui-dialog-titlebar-close .ui-button-text {
    display: none;
    margin: 10px;
}

.ui-icon-closethick {
    background: url("/images/icon_close.png");
    width: 30px;
    height: 30px;
    display: inline-block;
}

.ui-dialog-content {
    padding: 10px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

/****************************************
 * Buttons
 ****************************************/

.buttons-add {
    background: url("/images/button_add_inactive.png") no-repeat;
}

.buttons-add:hover {
    background: url("/images/button_add.png") no-repeat;
}

.buttons-check {
    background: url("/images/button_check_inactive.png") no-repeat;
}

.buttons-check:hover {
    background: url("/images/button_check.png") no-repeat;
}

.buttons-create {
    background: url("/images/button_create_inactive.png") no-repeat;
}

.buttons-create:hover {
    background: url("/images/button_create.png") no-repeat;
}

.buttons-localize {
    background: url("/images/button_localize_inactive.png") no-repeat;
}

.buttons-localize:hover {
    background: url("/images/button_localize.png") no-repeat;
}

.buttons-remove {
    background: url("/images/button_remove_inactive.png") no-repeat;
}

.buttons-remove:hover {
    background: url("/images/button_remove.png") no-repeat;
}

.buttons-save {
    background: url("/images/button_save_inactive.png") no-repeat;
}

.buttons-save:hover {
    background: url("/images/button_save.png") no-repeat;
}

.buttons-search {
    background: url("/images/button_search_inactive.png") no-repeat;
}

.buttons-search:hover {
    background: url("/images/button_search.png") no-repeat;
}
