
.clickable {
    cursor: pointer;
}

.unsavedchanges {
    color: #de5d35;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    background-color: rgba(256,256,256,0.6);
}

div#animatedlogo {
    position: fixed;
    z-index: 9999;
}

div#animatedlogo img {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

input[type="text"] {
    line-height: 150%;   /* this fixes the placeholder padding problem */  
}

/****************************************
 * Checkboxes
 ****************************************/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + div {
    float: left;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: url(/images/checkbox.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + div {
    background:url(/images/checkbox.png) -30px 0px no-repeat;
}

/****************************************
 * Square forms are implemented with tables
 ****************************************/

div.tableform {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.tableform table {
    width: 100%;
}

div.tableform tr {
    border-bottom: 12px solid #d8d4cb;
}

div.tableform td {
    padding: 0px;
}

div.tableform td.formlabels {
    vertical-align: text-top;
    width: 200px;
    background-color: #404040;
    color: #fff;
    text-align: right;
    font-weight: 600;
}

div.tableform td.formlabels label {
    display: block;
    margin-top: 8px;
    margin-right: 10px;
    background-color: #404040;
    height: 28px;
}

div.tableform td.forminputs {
    padding-left: 12px;
}

div.tableform td.forminputs.shortinput {
    width: 80px;
}

div.tableform td.forminputs.mediuminput {
    width: 160px;
}

div.tableform td.forminputs.biginput {
    width: 240px;
}

div.tableform td.formbuttons {
    text-align: right;
    padding-right: 0px;
    margin-left: 10px;
    width: 40px;
    vertical-align: top;
}

div.tableform td.formbuttons span.checkboxwrapper {
    background-color: #fff;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
}

div.tableform td.formextras {
    padding-right: 0px;
    width: 120px;
}

div.tableform td.forminputs input[type=text],
div.tableform td.forminputs input[type=password] {
    height: 40px;
}

div.tableform td.forminputs input[type=text],
div.tableform td.forminputs input[type=password],
div.tableform td.forminputs label {
    background-color: #fff;
    border: 0;
    font: inherit;
    font-size: inherit;
    width: 100%;
    height: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.tableform td.forminputs label {
    height: 40px;
    padding-top: 12px;
    display: block;
}

div.tableform .sublabel {
    text-align: right;
/*     width: 160px; */
}

/****************************************
 * Dialog boxes
 ****************************************/

.ui-dialog {
    background-color: white;
    border: none;
    z-index: 9999;
}

.ui-dialog-titlebar {
    width: 100%;
    background-color: #de5d35;
    height: 35px;
    padding-top: 5px;
}

.ui-dialog-title {
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    font-weight: 600;
}

.ui-dialog-titlebar-close {
    float: right;
    margin-right: 5px;
}

.ui-dialog-buttonset {
    padding-bottom: 10px;
}

.ui-button {
    background-color: #e35c33;
    border: none;
    padding: 0;
}

.ui-button-text-only {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #ece8df;
    color: #404040;
}

.ui-button-text {
    padding: 10px;
    display: block;
}

.ui-dialog-titlebar-close .ui-button-text {
    display: none;
    margin: 10px;
}

.ui-icon-closethick {
    background: url("/images/icon_close.png");
    width: 30px;
    height: 30px;
    display: inline-block;
}

.ui-dialog-content {
    padding: 10px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

/****************************************
 * Buttons
 ****************************************/

span.buttons {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url("/images/buttons.png") no-repeat;
}

.buttons.buttons-signin {
    background-position: 0px 0px;
}

.buttons.buttons-signin:hover {
    background-position: -40px 0px;
}

.buttons.buttons-add {
    background-position: 0px -40px;
}

.buttons.buttons-add:hover {
    background-position: -40px -40px;
}

.buttons.buttons-remove {
    background-position: 0px -80px;
}

.buttons.buttons-remove:hover {
    background-position: -40px -80px;
}

.buttons.buttons-save {
    background-position: 0px -120px;
}

.buttons.buttons-save:hover {
    background-position: -40px -120px;
}

.buttons.buttons-localize {
    background-position: 0px -160px;
}

.buttons.buttons-localize:hover {
    background-position: -40px -160px;
}

.buttons.buttons-search {
    background-position: 0px -200px;
}

.buttons.buttons-search:hover {
    background-position: -40px -200px;
}

.buttons.buttons-check {
    background-position: 0px -240px;
}

.buttons.buttons-check:hover {
    background-position: -40px -240px;
}

.buttons.buttons-text {
    background-position: 0px -280px;
}

.buttons.buttons-text:hover {
    background-position: -40px -280px;
}

.buttons.buttons-qr {
    background-position: 0px -320px;
}

.buttons.buttons-qr:hover {
    background-position: -40px -320px;
}

