{% extends "templates/static.html" %}
{% block title %}About us{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    Psinque is a young and dynamic team of people commited to one goal - the redefinition of phone book. The very concept of a telephone directory dates back to 1878 and we thought that it was the right time to introduce some fresh air into the idea that has basically never evolved.
  </p>
  <p>
  Meet the team:
  </p>
  <h3>Piotr Głuchowski, CLO</h3>
    <p>
      I am a bio.
    </p>
  <h3>Stanisław Raczyński, CTO</h3>
    <p>
      I am a bio.
    </p>
  <h3>Krzysztof Radecki, CEO</h3>
    <p>
      Krzysztof graduated from University of Gdańsk, class of 2007. He holds a Master's degree in economics and for the past 6 years has been working as a business intelligence consultant in Germany and Switzerland, focusing on extraction, transformation and loading of data and developing database applications.
    </p>
</div>
{% endblock %}
