{% extends "templates/static.html" %}
{% block title %}About us{% endblock %}
{% block content %}
<div class="onecolumn">
  <h3>Our Mission</h3>
  <p>
    Psinque is a young and dynamic team of people commited to one mission - to help you stay in touch with your contacts indefinitely with as little overhead and engagement as possible. We believe that in a world of constant changes, where loyalty has become an outdated concept, everyone deserves to have an island of stability. With our platform we would like to provide you with this island and populate it with your contacts.
  </p>

  <h3>Our Story</h3>
  <p>
    The idea behind Psinque was born in 2012. Krzysztof, a native Pole living in Germany was forced to purchase a new prepaid Sim Card each time he visited his home country. His friends complained about him having constantly change his numbers and he himself often forgot to inform everyone about the switch. Together with Stanisław they came up with a solution to the problem and started working on back then a no-named tool that evolved into Psinque. Piotr joined the team a few months later to support us in legal matters.
  </p>
  <p>
  Meet the team:
  </p>
  <h3>Piotr Głuchowski, CLO</h3>
    <p>
      I am a bio.
    </p>
  <h3>Stanisław Raczyński, CTO</h3>
    <p>
      Stanisław has received a Master diploma from the Gdańsk University of Technology (GUT), Poland, in 2007 and a Ph.D. diploma from the University of Tokyo, Japan, in 2010, both in the field of acoustic signal processing. He currently works as an adjunct professor at GUT. He spends his spare time (if there is any) on various projects that combine his experience in engineering, research skills and interest in the world of business.
    </p>
  <h3>Krzysztof Radecki, CEO</h3>
    <p>
      Krzysztof (Chris) graduated from University of Gdańsk, class of 2007. He holds a Master's degree in economics and for the past 6 years has been working as a business intelligence consultant on projects in Germany, Switzerland and United Arab Emirates.
    </p>
</div>
{% endblock %}
