{% extends "templates/static.html" %}
{% block title %}Profile administration{% endblock %}
{% block content %}
  <h3>The list of currently registered user profiles:</h3>
  <table>
    <thead>
      <tr>
        <td>Key</td>
        <td>User</td>
        <td>Given names</td>
        <td>Family names</td>
      </tr>
    </thead>
    <tbody>
      {% for profile in userProfiles %}
        <tr>
          <td>{{ profile.key() }}</td>
          <td>{{ profile.user }}</td>
          <td>{{ profile.givenNames }}</td>
          <td>{{ profile.familyNames }}</td>
          <td>
            <a href="/admin/deleteprofile?key={{ profile.key() }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}