<script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".addContact").click(function() {
      $.ajax("/addcontact?id=" + $(this).attr("id")).done(function(data) {
        $("ul > #" + $.parseJSON(data)["userId"]).slideUp();
      });
      return false;  // stop the page refresh
    });
  })
</script>
<div id="content">
  <legend>Search for contacts</legend>
  <form action="/searchcontacts" method="POST">
    <fieldset id="searchContacts">
      <p>
        <label>First name:</label>
        <input type="text" name="firstname" value="" class="required" minlength="2" />
      </p>
      <p>
        <label>Last name:</label>
        <input type="text" name="lastname" value="" class="required" minlength="2" />
        <input type="submit" value="Search" />
      </p>
    </fieldset>
  </form>
  <h3>{{ header }}</h3>
  <h4>Found {{ howManyResults }} results:</h4>
  <ul>
  {% for result in searchResults %}
    <li id="{{ result.key.id }}">{{ result.firstname }} {{ result.lastname }} <a href="" class="addContact" id="{{ result.key.id }}"/>Add to my contacts</a></li>
  {% endfor %}
  </ul>
</div>