<div id="content">
  <legend>Search for contacts</legend>
  <form action="/searchcontacts" method="POST">
    <fieldset id="searchContacts">
      <p>
        <label>First name:</label>
        <input type="text" name="firstname" value="" class="required" minlength="2" />
      </p>
      <p>
        <label>Last name:</label>
        <input type="text" name="lastname" value="" class="required" minlength="2" />
        <input type="submit" value="Search" />
      </p>
    </fieldset>
  </form>
  <h3>{{ header }}</h3>
  <h4>You have currently {{ howManyContacts }} contacts:</h4>
  {% for result in userContacts %}
    <p>{{ result.userTo.firstname }} {{ result.userTo.lastname }}</p>
  {% endfor %}
</div>
