<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Welcome to Psinque</title>
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="/favicon_57.png" sizes="57x57" type="image/png">
  <link rel="shortcut icon" href="/favicon_128.ico" sizes="128x128" type="image/png">
  <link rel="shortcut icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext,cyrillic-ext,greek,cyrillic,vietnamese,greek-ext" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/Countdown.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="/javascripts/Countdown.js"></script>
</head>
<body>
  <div id="contentwrapper">
    <div id="content">
      <div id="biglogo">
        <img src="/images/logo_01.png" alt="Psinque" width="160" height="160"/>
      </div>
      <div class="tableclock">
        <table><tbody>
        <tr>
          <td class="leftfields"><label>Weeks</label></td>
          <td class="rightfields">
            <label class="generallabels" id="weeks"></label>
          </td>
        </tr>
        <tr>
          <td class="leftfields"><label>Days</label></td>
          <td class="rightfields">
            <label class="generallabels" id="daysLeft"></label>
          </td>
        </tr>
        <tr>
          <td class="leftfields"><label>Hours</label></td>
          <td class="rightfields">
            <label class="generallabels" id="hours"></label>
          </td>
        </tr>
        <tr>
          <td class="leftfields"><label>Minutes</label></td>
          <td class="rightfields">
            <label class="generallabels" id="minutes"></label>
          </td>
        </tr>
        <tr>
          <td class="leftfields"><label>Seconds</label></td>
          <td class="rightfields">
            <label class="generallabels" id="seconds"></label>
          </td>
        </tr>
        </tbody></table>
      </div>
    </div>
  </div>
</body>
</html>
