<script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false"></script>
<script type="text/javascript" src="/javascripts/editForm.js"></script>
<script type="text/javascript">
  var addressCounter = {{ initialAddressCount }};
</script>
<div id="content">
  {% if firstlogin %}
  <p>This is your first login, so please fill up your profile below:</p>
  {% endif %}
  <form action="/submitprofile" method="POST" id="submitForm">
        <h3>General information</h3>
        <p>
          <label>First name:</label>
          <input type="text" name="firstname" value="{{ firstname }}" class="required" minlength="2" />
        </p>
        <p>
          <label>Last name:</label>
          <input type="text" name="lastname" value="{{ lastname }}" class="required" minlength="2" />
        </p>
        <h3>Electronic addresses</h3>
        <p>
          <label>E-mail:</label>
          <input type="text" name="email" value="{{ email }}" class="required email" />
        </p>
        <h3>Physical addresses</h3>
        {% for address in addresses %}
        <p id="address{{ address.nr }}">
          {% if address.value.primary %}
            <label>Primary address:</label>
          {% else %}
            <label>Address {{ address.nr }}:</label>
          {% endif %}
          <input type="text" name="addressMain{{ address.nr }}" value="{{ address.value.address }}" class="required" />
          <select name="addressType{{ address.nr }}">
          {% for addressType in addressTypes.items %}
            {% ifequal addressType.0 address.value.addressType %}
              <option value="{{ addressType.0 }}" selected="selected">{{ addressType.1 }}</option>
            {% else %}
              <option value="{{ addressType.0 }}">{{ addressType.1 }}</option>
            {% endifequal %}
          {% endfor %}
          </select>
          <br />
          <label>Postal code:</label>
          <input type="text" name="postal{{ address.nr }}" value="{{ address.value.postalCode }}" /><br />
          <label>City/town/village:</label>
          <input type="text" name="city{{ address.nr }}" value="{{ address.value.city }}" /><br />
          {% if address.value.primary %}
            <a href="" class="findOnAMap">Find on a map</a>
          {% else %}
            <a href="" id="remover{{ address.nr }}" class="removers">Remove</a>
          {% endif %}
        </p>
        {% endfor %}
        <p id="addAddress"><a href="">Add address</a></p>
        <div id="bottonButton"><input type="submit" value="Save" id="submitButton" /></div>
  </form>
</div>
