<!DOCTYPE html>
<html lang="en">
<body>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="width: 20%;"></td>
        <td>
          <div style="box-shadow: 0 0px 12px 3px #e0dcd4; padding: 50px;">
            <div style="text-align: right;">
              <img src="http://www.psinque.com/images/smalllogo.png" alt="Psinque logo" />
            </div>
            {% block content %}{% endblock %}
            <p>
              Sincerely,
            </p>
            <p>
              The Psinque Team
            </p>
          </div>
        </td>
        <td style="width: 20%;"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
