<div id="footer">
  <table>
  <tbody>
    <tr>
      <td id="copyright">
        &copy; Copyright 2013 <a href="http://psinque.com/"><i>p<b>sinq</b>ue</i> sp. z o.o.</a>
      </td>
      <td id="faq">
        <a href="/static/about">About us</a>
        <a href="/static/faq">FAQ</a>
        <a href="/static/terms">Terms of service</a>
        <a href="/static/privacy">Privacy policy</a>
        <a href="/static/mobile">Mobile how-to</a>
        <a href="/static/investors">Investors</a>
        <a href="/static/support">Support</a>
      </td>
      <td id="numalab">
        <a href="http://numalab.eu/">graphic&amp;stuff numalab°</a>
      </td>
    </tr>
  </tbody>
  </table>
</div>
