<div id="footer">
  <table>
  <tbody>
    <tr>
      <td id="socialmedia">
        <a href="//plus.google.com/100274648568957193551?prsrc=3"
          rel="publisher" target="_top" style="text-decoration:none;"
          title="View our Google+ profile">
        <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
        </a>
        <a href="http://www.facebook.com/xxxxxxxxxxxxx" target="_blank">
          <img src="/images/social_facebook.png" border="0" width="24" height="24">
        </a>
        <a href="http://www.twitter.com/xxxxxxxxxxx" target="_blank">
          <img src="/images/social_twitter.png" border="0" width="24" height="24">
        </a>
      </td>
      <td id="links">
        <a href="/static/about">About us</a>
        <a href="/static/faq">FAQ</a>
        <a href="/static/terms">Terms of service</a>
        <a href="/static/privacy">Privacy policy</a>
        <a href="/static/mobile">Mobile how-to</a>
        <a href="/static/investors">Investors</a>
        <a href="/static/support">Support</a>
	<a href="/static/gettingstarted">Getting started</a>
      </td>
      <td id="numalab">
        <a href="http://numalab.eu/">Web design &copy; numalab°</a>
      </td>
    </tr>
  </tbody>
  </table>
</div>
