<div id="footer">
  <table>
  <tbody>
    <tr>
      <td id="socialmedia">
        <a href="https://plus.google.com/113596119391655007837/posts"
          rel="publisher" target="_top" title="View our Google+ profile">
          <div id="social_googleplus" class="socialicons"></div>
        </a>
        <a href="https://www.facebook.com/psinque" target="_blank">
          <div id="social_facebook" class="socialicons"></div>
        </a>
        <a href="https://twitter.com/Psinque" target="_blank">
          <div id="social_twitter" class="socialicons"></div>
        </a>
      </td>
      <td id="links">
        <a href="/static/about">About us</a>
        <a href="/static/faq">FAQ</a>
        <a href="/static/terms">Terms of service</a>
        <a href="/static/privacy">Privacy policy</a>
        <a href="/static/mobile">Mobile how-to</a>
        <a href="/static/investors">Investors</a>
        <a href="/static/support">Support</a>
        <a href="/static/gettingstarted">Getting started</a>
      </td>
      <td id="numalab">
        <a href="http://numalab.eu/">Design &copy; numalab°</a>
      </td>
    </tr>
  </tbody>
  </table>
</div>
