<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/incoming_view.js"></script>
<div id="content">
  You have {% if count == 1000 %}1000+{% else %}{{ count }}{% endif %} incoming psinques.
  <table>
    <th>#</th>
    <th>Name</th>
    <th>Status</th>
    <th>Established</th>
    <th></th>
  {% for contact in contacts %}
    <tr>
    <td>{{ contact.nr }}</td>
    <td>{{ contact.name }}</td>
    <td>{{ contact.status }}</td>
    <td>{{ contact.date }}</td>
    <td><a href="/incoming/removepsinque?key={{ contact.key }}">Remove</a></td>
    </tr>
  {% endfor %}
  </table>
  {% if offset > 0 %}
  <a href="javascript: history.go(-1)">Previous page</a>
  {% endif %}
  {% if isThereMore %}
  <a href="/incoming?cursor={{ nextCursor }}&offset={{ offset+10 }}">Next page</a>
  {% endif %}
  <h3>Add psinque by email:</h3>
  <p>
    <input type="text" id="email" /><br/>
    <a href="" id="search">Search</a>
  </p>
<!--  <p>
    <a href="">Search from Google contacts.</a>
  </p>-->
</div>
