{% extends "templates/master.html" %}
{% block title %}About us{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/stylesheets/StaticPages.css" />
{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    Psinque was created because we live in a world that is changing far more quicker than we can handle on our own. Our friends are moving, switching email or phone providers as they see fit, business colleagues are changing employers. Loyalty is simply and outdated concept. But wouldn't it be nice to just pick up your phone, find a name and call that person without having to think: "I wonder if this is still the correct number?". We do!
  </p>
  <p>
    We believe that Psinque has a very bright future. In a world of constant changes Psinque will guarantee stability and safety of never loosing touch with people that are important to you. If you are an investor, share our vision and would like get involved with probably the most groundbreaking concept of the past few years, do not hesitate to get in touch with us at investors [at] psinque.com.
  </p>
</div>
{% endblock %}
