{%- import "templates/ui.html" as ui -%}
{%- macro logo(logoname, loginurl, tooltip) -%}
  <td class="forminputs formbuttons darkbutton">
    <a href={{ loginurl }} id="logo{{ logoname }}" class="logos" title="{{ tooltip }}">
      <div class="buttons buttons_{{ logoname }}"></div>
    </a>
  </td>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Welcome to Psinque</title>
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="/favicon_57.png" sizes="57x57" type="image/png">
  <link rel="shortcut icon" href="/favicon_128.ico" sizes="128x128" type="image/png">
  <link rel="shortcut icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext,cyrillic-ext,greek,cyrillic,vietnamese,greek-ext" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/ui.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/static.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/Landing.css" />
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/ui.js"></script>
  <script type="text/javascript" src="/javascripts/Landing.js"></script>
</head>
<body>
  <div id="uberwrapper">
    <div id="contentwrapper" class="wrappers">
      <div id="content">
        <div id="biglogo">
          <object data="/images/biglogo.svg" type="image/svg+xml"></object>
        </div>
        <div id="openid">
          {{ ui.beginform() }}
            {{ ui.begintable() }}
              {{ ui.tablelabel("Sign in with:", 1) }}
              {% for logindata in loginurls %}
                {{ logo(logindata[1], logindata[0], logindata[2]) }}
              {% endfor %}
              {{ ui.spacer() }}
            {{ ui.endtable() }}
            {{ ui.begintable("openidusernametable", "username") }}
              {{ ui.tablelabel("MySpace", 1, "username") }}
              {{ ui.textinput("", "MySpace username", "myspaceuser", "") }}
              {{ ui.signinbutton("myspacesignin") }}
            {{ ui.endtable() }}
            {{ ui.begintable() }}
              {{ ui.tablelabel("OpenID link") }}
              {{ ui.textinput("", "Custom link", "openidlink") }}
              {{ ui.signinbutton("openidsignin") }}
            {{ ui.endtable() }}
          {{ ui.endform() }}
        </div>
      </div>
    </div>
    <div id="footerwrapper" class="wrappers">
      {% include "templates/footer.html" %}
    </div>
  </div>
</body>
</html>
