<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - Psinque</title>
  {% raw -%}
  <script id="dropdown-selected" type="text/x-dot-template">
    {{=it.label}}<i></i>
  </script>
  <script id="dropdown" type="text/x-dot-template">
    <div class="dropdown" tabindex="1">
    <div class="selected">{{=it.selected.label}}</div>
      <ul>
        {{~it.items :item:index}}
        <li data-index="{{=index}}">{{=item.label}}</li>
        {{~}}
      </ul>
    </div>
  </script>
  {%- endraw %}
  {%- block inlinescripts -%}
  {%- endblock %}
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="/favicon_57.png" sizes="57x57" type="image/png">
  <link rel="shortcut icon" href="/favicon_128.ico" sizes="128x128" type="image/png">
  <link rel="shortcut icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext,cyrillic-ext,greek,cyrillic,vietnamese,greek-ext" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/ui.css" />
  {% block stylesheets -%}
  {%- endblock %}
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/doT.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-dropdown-dot.min.js"></script>
  <script type="text/javascript" src="/javascripts/psinque.js"></script>
  <script type="text/javascript" src="/javascripts/ajax.js"></script>
  {%- block externalscripts -%}
  {%- endblock %}
</head>
<body>
  <div id="uberwrapper">
    <div id="headerwrapper" class="wrappers">
      <div id="header">
        <table>
        <tbody>
        <tr>
          <td id="logographics">
            <div id="staticlogo"><img src="/images/logo_01.png" alt="Logo" /></div>
            <div id="animatedlogo"><img src="/images/animated_logo.gif" alt="Logo" /></div>
          </td>
          <td id="logotext">
            <img src="/images/logo_text.png" alt="psinque" />
          </td>
          <td id="menu">
            <ul>
            {% for menuentry in menuentries %}
              <li><a href="/{{ menuentry.url }}" title="{{ menuentry.title }}" class="{{ menuentry.entryclass }}">{{ menuentry.title }}</a></li>
            {% endfor %}
            </ul>
          </td>
          <td id="extras">
            <ul>
              <li><a href="/settings/view">Settings</a></li>
              <li><a href="{{ loginurl }}">Sign out</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div id="contentwrapper" class="wrappers">
      {% block abovecontent %}{% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footerwrapper" class="wrappers">
      <div id="footer">
        <table>
        <tbody>
          <tr>
            <td id="copyright">
              &copy; Copyright 2013 <a href="http://psinque.com/"><i>p<b>sinq</b>ue</i> sp. z o.o.</a>
            </td>
            <td id="faq">
              <a href="/static/about">About us</a>
              <a href="/static/faq">FAQ</a>
              <a href="/static/terms">Terms of service</a>
              <a href="/static/mobile">Mobile how-to</a>
            </td>
            <td id="numalab">
              <a href="http://numalab.eu/">graphic&amp;stuff numalab°</a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
