<tr class="additionalemails">
  {% if loopfirst %}
    {% if tablelabel == "Primary email" %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="primaryemaillabel">
    {% else %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="additionalemaillabel">
    {% endif %}
    <label>{{ tablelabel }}</label>
  </td>
  {% endif %}
  {% if emailaddress != "primary@nonexistant.com" %}
    {{ ui.textinput(emailaddress, "e.g., john@doe.com", "", "emailaddresses", emailkey, "emailkeys") }}
  {% else %}
    {{ ui.textinput("", "e.g., john@doe.com", "", "emailaddresses", emailkey, "emailkeys") }}
  {% endif %}
  {{ ui.dropdown(emailTypes, emailtype, "", "typesofemail", "smallinput") }}
  {% if not loopfirst %}
    {{ ui.removebutton("email", "emailremovers") }}
  {% elif tablelabel != "Primary email" %}
    {{ ui.addbutton("email") }}
  {% endif %}
</tr>
