{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}My Card{% endblock %}
{% block javascripts %}
<!--     <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script> -->
    <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false"></script> -->
  <script type="text/javascript" src="/javascripts/MyCard.js"></script>
  <script type="text/javascript">
      var additionalEmailCounter = {{ additionalEmails|count }};
  </script>
{% endblock %}
{% block content %}
  {% if firstlogin %}
  <p>This is your first login, so please fill up your profile below:</p>
  {% endif %}
  <div id="images">
    <img src="/images/linustorvalds.jpg" />
  </div>
  <div id="mycard">
    {{ ui.beginform() }}
      {{ ui.begintable("Given names", 2) }}
        {{ ui.textinput(userProfile.givenNames|join(" "), "firstname", "Native spelling") }}
        {{ ui.newrow() }}
        {{ ui.textinput("", "firstroman", "Romanization") }}
      {{ ui.endtable() }}
      {{ ui.begintable("Family names", 2) }}
        {{ ui.textinput(userProfile.familyNames|join(" "), "lastname", "Native spelling") }}
        {{ ui.newrow() }}
        {{ ui.textinput("", "lastroman", "Romanization") }}
      {{ ui.endtable() }}
      {{ ui.multipletextinput("Nicknames", "nickname", [], "e.g., Big John") }}
      {{ ui.begintable("Birthday") }}
        {{ ui.dropdown(range(1, 31+1), "", "birthdays") }}
        {{ ui.dropdown(months, "", "birthmonths") }}
        {{ ui.dropdown(range(1900, 2013+1), "", "birthyears") }}
          <td class="forminputs sublabel">Gender:</td>
        {{ ui.dropdown(['undisclosed', 'female', 'male'], "", "gender") }}
      {{ ui.endtable() }}
      <table id="primaryemailaddress">
      <tbody>
        {% set tablelabel = "Primary email" %}
        {% set emailCount = 1 %}
        {% set loopfirst = True %}
        {% set emailkey = primaryEmail.key() %}
        {% set emailaddress = primaryEmail.email %}
        {% set emailtype = primaryEmail.emailType %}
        {% include "templates/MyCard_Email.html" %}
      </tbody>
      </table>
      <table id="additionalemailaddresses">
      <tbody>
        {% for email in additionalEmails %}
          {% set tablelabel = "Additional emails" %}
          {% set emailCount = additionalEmails|count %}
          {% set loopfirst = loop.first %}
          {% set emailkey = email.key() %}
          {% set emailaddress = email.email %}
          {% set emailtype = email.emailType %}
          {% include "templates/MyCard_Email.html" %}
        {% else %}
          {% set tablelabel = "Additional emails" %}
          {% set emailCount = 1 %}
          {% set loopfirst = True %}
          {% set emailkey = "" %}
          {% set emailaddress = "" %}
          {% set emailtype = "Private" %}
          {% include "templates/MyCard_Email.html" %}
        {% endfor %}
      </tbody>
      </table>
      <table>
      <tbody>
      {% for address in addresses %}
        {% set loopFirst = loop.first %}
        {% set addressCount = addresses|count %}
        {% set addressKey = address.key() %}
        {% set address = address.address %}
        {% set addressType = address.addressType %}
        {% set city = address.city %}
        {% set postalCode = address.postalCode %}
        {% include "templates/MyCard_Address.html" %}
      {% else %}
        {% set loopFirst = True %}
        {% set addressCount = 1 %}
        {% set addressKey = None %}
        {% set address = "" %}
        {% set addressType = "" %}
        {% set city = "" %}
        {% set postalCode = "" %}
        {% include "templates/MyCard_Address.html" %}
      {% endfor %}
      </tbody>
      </table>
      {{ ui.begintable("Save changes") }}
        {{ ui.savebutton() }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  </div>
  <br style="clear:both;"/>
{% endblock %}