<tr class="additionalemails">
  {% if loopfirst %}
    {% if tablelabel == "Primary email" %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="primaryemaillabel">
    {% else %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="additionalemaillabel">
    {% endif %}
    <label>{{ tablelabel }}</label>
  </td>
  {% endif %}
  {% if tablelabel == "Primary email" %}
    {% set inputclass = "primary emailaddresses" %}
  {% else %}
    {% set inputclass = "additional emailaddresses" %}
  {% endif %}
  {% if emailaddress != "primary@nonexistant.com" %}
    {{ ui.textinputwithkey(emailaddress, "e.g., john@doe.com", "", inputclass, emailkey, "additionalemailkeys") }}
  {% else %}
    {{ ui.textinputwithkey("", "e.g., john@doe.com", "", inputclass, emailkey, "additionalemailkeys") }}
  {% endif %}
  {{ ui.dropdown(privacyTypes, privacyType, "", "typesofemail", "smallinput") }}
  {% if not loopfirst %}
    {{ ui.removebutton("email", "emailremovers") }}
  {% elif tablelabel != "Primary email" %}
    {{ ui.addbutton("additionalemail") }}
  {% endif %}
</tr>
