{% extends "templates/masterTemplate.html" %}
{% import "templates/psinqueUI.html" as ui %}
{% block title %}My Card{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false"></script> -->
    <script type="text/javascript" src="/javascripts/myCard_view.js"></script>
    <script type="text/javascript">
        var additionalEmailCounter = {{ additionalEmails|count }};
    </script>
{% endblock %}
{% block content %}
  {% if firstlogin %}
  <p>This is your first login, so please fill up your profile below:</p>
  {% endif %}
  <div id="images">
    <img src="/images/linustorvalds.jpg" />
  </div>
  <div id="mycard">
  <div class="tableform">
  <span id="generalinfo">
    {{ ui.singletextinput("Given names", "firstname", userProfile.givenNames|join(" ")) }}
    {{ ui.singletextinput("Family names", "lastname", userProfile.familyNames|join(" ")) }}
    {{ ui.multipletextinput("Nicknames", "nickname", [], "Motherfucker") }}
    {{ ui.begintable("Birthday") }}
      {{ ui.dropdown("birthdays", range(1, 31+1)) }}
      {{ ui.dropdown("birthmonths", months) }}
      {{ ui.dropdown("birthyears", range(1900, 2013+1)) }}
        <td class="forminputs sublabel">Gender:</td>
      {{ ui.dropdown("gender", ['undisclosed', 'female', 'male']) }}
    {{ ui.endtable() }}
  </span>
  <span id="emails">
    <table id="primaryemailaddress">
    <tbody>
      {% set tablelabel = "Primary email" %}
      {% set emailCount = 1 %}
      {% set loopfirst = True %}
      {% set emailkey = primaryEmail.key() %}
      {% set emailaddress = primaryEmail.email %}
      {% set emailtype = primaryEmail.emailType %}
      {% include "templates/myCard_singleemail.html" %}
    </tbody>
    </table>
    <table id="additionalemailaddresses">
    <tbody>
      {% for email in additionalEmails %}
        {% set tablelabel = "Additional emails" %}
        {% set emailCount = additionalEmails|count %}
        {% set loopfirst = loop.first %}
        {% set emailkey = email.key() %}
        {% set emailaddress = email.email %}
        {% set emailtype = email.emailType %}
        {% include "templates/myCard_singleemail.html" %}
      {% else %}
        {% set tablelabel = "Additional emails" %}
        {% set emailCount = 1 %}
        {% set loopfirst = True %}
        {% set emailkey = "" %}
        {% set emailaddress = "" %}
        {% set emailtype = "Private" %}
        {% include "templates/myCard_singleemail.html" %}
      {% endfor %}
    </tbody>
    </table>
  </span>
  <span>
    {{ ui.begintable("Save changes") }}
      {{ ui.savebutton("submitbutton") }}
        <td><br style="clear:both;"/></td>
    {{ ui.endtable() }}
  </span>
<!--    <legend>Physical addresses</legend>
    {% for address in addresses %}
    <p id="address{{ address.nr }}">
    <label>Address:</label>
    <input type="text" name="address{{ address.nr }}" value="{{ address.value.address }}" class="required" />
    <select name="typeofAddress{{ address.nr }}">
    {% for addressTypeCode, addressTypeName in addressTypes.iteritems() %}
        {% if addressTypeCode == address.value.addressType %}
        <option value="{{ addressTypeCode }}" selected="selected">{{ addressTypeName }}</option>
        {% else %}
        <option value="{{ addressTypeCode }}">{{ addressTypeName }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <br />
    <label>Postal code:</label>
    <input type="text" name="postal{{ address.nr }}" value="{{ address.value.postalCode }}" /><br />
    <label>City/town/village:</label>
    <input type="text" name="city{{ address.nr }}" value="{{ address.value.city }}" /><br />

    {% if address.value.location %}
    <span class="hiddenCoordinates">
        <label>Longitude:</label>
        <input type="text" name="long{{ address.nr }}" id="long{{ address.nr }}" value="{{ address.value.location.lon }}" readonly="readonly" /><br />
        <label>Latitude:</label>
        <input type="text" name="lat{{ address.nr }}" id="lat{{ address.nr }}" value="{{ address.value.location.lat }}" readonly="readonly" /><br />
    </span>
    {% endif %}

    <a href="" class="addMap">Find coordinates</a>
    <a href="" class="hideMap">Hide the map</a>
    <a href="" class="showMap">Show the map</a>
    {% if address.nr != 1 %}
        | <a href="" id="remover{{ address.nr }}" class="removers">Remove</a>
    {% endif %}
    </p>
    {% endfor %}
    <p id="addAddress"><a href="">Add address</a></p> -->
<!--     <div id="bottonButton"><input type="button" id="submitButton" value="Apply"/></div> -->
  </div>
  </div>
  <br style="clear:both;"/>
{% endblock %}