<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false"></script>
<script type="text/javascript" src="/javascripts/editProfile.js"></script>
<script type="text/javascript">
  var emailCounter = {{ emails|length }};
  var addressCounter = {{ addresses|length }};
</script>
<div id="content">
  {% if firstlogin %}
  <p>This is your first login, so please fill up your profile below:</p>
  {% endif %}
  <form action="/submitprofile" method="POST" id="submitForm">
        <fieldset id="generalInfo">
          <legend>General information</legend>
          <p>
            <label>First name*:</label>
            <input type="text" name="firstname" value="{{ firstname }}" class="required" minlength="2" />
          </p>
          <p>
            <label>Middle name:</label>
            <input type="text" name="middlename" value="{{ middlename }}" minlength="2" />
          </p>
          <p>
            <label>Family name*:</label>
            <input type="text" name="lastname" value="{{ lastname }}" class="required" minlength="2" />
          </p>
          <p>
            <label>Pseudonym:</label>
            <input type="text" name="pseudonym" value="{{ pseudonym }}" minlength="2" />
          </p>
          <p>
            <label>Gender</label><br/>
            <input type="radio" name="sex" value="male">Male<br/>
            <input type="radio" name="sex" value="female">Female<br/>
            <input type="radio" name="sex" value="none">I won't tell
          </p>
          <p>
            <label>Birthday</label>
            <input type="date" name="birthday">
          </p>
        </fieldset>
        <fieldset id="electronicAddresses">
          <legend>E-mail addresses</legend>
          {% for email in emails|sort(reverse=True,attribute='primary') %}
          <p id="email{{ loop.index }}">
            <label>{% if email.primary %}Primary*:{% else %}Additional:{% endif %}</label>
            <input type="text" name="email{{ loop.index }}" value="{{ email.email }}" class="{% if not email.primary %}required {% endif %}email" />
            <select name="typeofEmail{{ loop.index}}">
            {% for emailTypeCode, emailTypeName in emailTypes.items() %}
              <option value="{{ emailTypeCode }}" {% if emailTypeCode == email.emailType %}selected="selected"{% endif %}>{{ emailTypeName }}</option>
            {% endfor %}
            </select>
            <a href="" class="removers">{% if not email.primary %}Remove{% endif %}</a>
          </p>
          {% endfor %}
          <p id="addEmail"><a href="">Add e-mail</a></p>
        </fieldset>
        <fieldset id="addresses">
          <legend>Physical addresses</legend>
          {% for address in addresses %}
          <p id="address{{ address.nr }}">
            <label>Address:</label>
            <input type="text" name="address{{ address.nr }}" value="{{ address.value.address }}" class="required" />
            <select name="typeofAddress{{ address.nr }}">
            {% for addressTypeCode, addressTypeName in addressTypes.iteritems() %}
              {% if addressTypeCode == address.value.addressType %}
                <option value="{{ addressTypeCode }}" selected="selected">{{ addressTypeName }}</option>
              {% else %}
                <option value="{{ addressTypeCode }}">{{ addressTypeName }}</option>
              {% endif %}
            {% endfor %}
            </select>
            <br />
            <label>Postal code:</label>
            <input type="text" name="postal{{ address.nr }}" value="{{ address.value.postalCode }}" /><br />
            <label>City/town/village:</label>
            <input type="text" name="city{{ address.nr }}" value="{{ address.value.city }}" /><br />

            {% if address.value.location %}
            <span class="hiddenCoordinates">
              <label>Longitude:</label>
              <input type="text" name="long{{ address.nr }}" id="long{{ address.nr }}" value="{{ address.value.location.lon }}" readonly="readonly" /><br />
              <label>Latitude:</label>
              <input type="text" name="lat{{ address.nr }}" id="lat{{ address.nr }}" value="{{ address.value.location.lat }}" readonly="readonly" /><br />
            </span>
            {% endif %}

            <a href="" class="addMap">Find coordinates</a>
            <a href="" class="hideMap">Hide the map</a>
            <a href="" class="showMap">Show the map</a>
            {% if address.nr != 1 %}  <!-- You cannot remove the primary address -->
              | <a href="" id="remover{{ address.nr }}" class="removers">Remove</a>
            {% endif %}
          </p>
          {% endfor %}
          <p id="addAddress"><a href="">Add address</a></p>
        </fieldset>
        <div id="bottonButton"><input type="submit" value="Save" id="submitButton" /></div>
  </form>
</div>
