{% import "templates/ui.html" as ui %}
<tr>
  {% if loopFirst %}
    <td rowspan="{{ itemCount }}" class="formlabels" id="{{ prefix ~ 'label' }}">
      <label>{{ tableLabel }}</label>
    </td>
  {% endif %}
  {{ ui.textinputwithkey(itemValue, "", "", prefix ~ "s", itemKey, prefix ~ "keys") }}
  {{ ui.dropdown(privacyTypes, privacyType, "", prefix ~ "privacytypes", "smallinput") }}
  {{ ui.dropdown(itemTypes, itemType, "", prefix ~ "types", "smallinput") }}
  {% if not loopFirst %}
    {{ ui.removebutton(prefix, prefix ~ "removers") }}
  {% else %}
    {{ ui.addbutton(prefix) }}
  {% endif %}
</tr>
