{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}My Card{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/stylesheets/MyCard.css" />
{% endblock %}
{% block inlinescripts %}
  <script type="text/javascript">
    var additionalEmailCounter = {{ additionalEmails|count }};
    if(additionalEmailCounter == 0)
        additionalEmailCounter = 1;
  </script>
{% endblock %}
{% block externalscripts %}
<!--     <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script> -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false"></script>
    <script type="text/javascript" src="/javascripts/MyCard.js"></script>
{% endblock %}
{% block content %}
  {% if firstlogin %}
  <p>This is your first login, so please fill up your profile below:</p>
  {% endif %}
  <div id="photos">
    <img src="/images/nophoto.png" />
  </div>
  <div id="mycard">
    {{ ui.beginform() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Given names", 2) }}
        {{ ui.textinput(userProfile.givenNames, "Native spelling", "givennames") }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.givenNamesRomanization, "Romanization", "givenroman") }}
      {{ ui.endtable() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Family names", 2) }}
        {{ ui.textinput(userProfile.familyNames, "Native spelling", "familynames") }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.familyNamesRomanization, "Romanization", "familyroman") }}
      {{ ui.endtable() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Company name", 2) }}
        {{ ui.textinput(userProfile.companyName, "Native spelling", "companyname") }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.companyNameRomanization, "Romanization", "companyroman") }}
      {{ ui.endtable() }}
      {{ ui.multipletextinput("Nicknames", "nickname", [], "e.g., Big John") }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Birthday") }}
        {{ ui.dropdown(range(1, 31+1), "", "birthdays") }}
        {{ ui.dropdown(months, "", "birthmonths") }}
        {{ ui.dropdown(range(1900, 2013+1), "", "birthyears") }}
          <td class="forminputs sublabel">Gender:</td>
        {{ ui.dropdown(['undisclosed', 'female', 'male'], "", "gender") }}
      {{ ui.endtable() }}
      <table id="primaryemailaddress">
      <tbody>
        {% set tablelabel = "Primary email" %}
        {% set emailCount = 1 %}
        {% set loopfirst = True %}
        {% set emailkey = primaryEmail.key() %}
        {% set emailaddress = primaryEmail.email %}
        {% set emailtype = primaryEmail.emailType %}
        {% include "templates/MyCard_Email.html" %}
      </tbody>
      </table>
      <table id="additionalemailaddresses">
      <tbody>
        {% for email in additionalEmails %}
          {% set tablelabel = "Additional emails" %}
          {% set emailCount = additionalEmails|count %}
          {% set loopfirst = loop.first %}
          {% set emailkey = email.key() %}
          {% set emailaddress = email.email %}
          {% set emailtype = email.emailType %}
          {% include "templates/MyCard_Email.html" %}
        {% else %}
          {% set tablelabel = "Additional emails" %}
          {% set emailCount = 1 %}
          {% set loopfirst = True %}
          {% set emailkey = "" %}
          {% set emailaddress = "" %}
          {% set emailtype = "Private" %}
          {% include "templates/MyCard_Email.html" %}
        {% endfor %}
      </tbody>
      </table>
      <table>
      <tbody>
        {% for im in ims %}
          {% set imCount = ims|count %}
          {% set loopfirst = loop.first %}
          {% set imKey = im.key() %}
          {% set imAddress = im.im %}
          {% set imType = im.imType %}
          {% include "templates/MyCard_IM.html" %}
        {% else %}
          {% set imCount = 1 %}
          {% set loopfirst = True %}
          {% set imKey = "" %}
          {% set imAddress = "" %}
          {% set imType = "Private" %}
          {% include "templates/MyCard_IM.html" %}
        {% endfor %}
      </tbody>
      </table>
      <table>
      <tbody>
        {% for www in wwws %}
          {% set wwwCount = wwws|count %}
          {% set loopfirst = loop.first %}
          {% set wwwKey = www.key() %}
          {% set wwwAddress = www.www %}
          {% set wwwType = www.wwwType %}
          {% include "templates/MyCard_WWW.html" %}
        {% else %}
          {% set wwwCount = 1 %}
          {% set loopfirst = True %}
          {% set wwwKey = "" %}
          {% set wwwAddress = "" %}
          {% set wwwType = "private homepage" %}
          {% include "templates/MyCard_WWW.html" %}
        {% endfor %}
      </tbody>
      </table>
      <table>
      <tbody>
      {% for address in addresses %}
        {% set loopFirst = loop.first %}
        {% set loopIndex = loop.index %}
        {% set addressCount = addresses|count %}
        {% set addressKey = address.key() %}
        {% set address = address.address %}
        {% set addressType = address.addressType %}
        {% set addressLocation = address.location %}
        {% set city = address.city %}
        {% set postalCode = address.postalCode %}
        {% include "templates/MyCard_Address.html" %}
      {% else %}
        {% set loopFirst = True %}
        {% set loopIndex = 1 %}
        {% set addressCount = 1 %}
        {% set addressKey = None %}
        {% set address = "" %}
        {% set addressType = "" %}
        {% set addressLocation = None %}
        {% set city = "" %}
        {% set postalCode = "" %}
        {% include "templates/MyCard_Address.html" %}
      {% endfor %}
      </tbody>
      </table>
      {{ ui.begintable() }}
        {{ ui.tablelabel("Save changes") }}
        {{ ui.savebutton() }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  </div>
  <br style="clear:both;"/>
{% endblock %}
