<div id="content">
  <div id="leftcolumn">
    <a href="/uploadphoto">
    {% if photograph %}
    <img src="{{ photograph }}" alt="Upload a new photograph" width="120" height="150" />
    {% else %}
    <img src="/images/no_photo.jpg" alt="Upload a new photograph" width="120" height="150" />
    {% endif %}
    </a>
  </div>
  <div id="rightcolumn">
    <h3><b>{{ userProfile.firstName }} {% if userProfile.middleName %}{{ userProfile.middleName }} {% endif %}{{ userProfile.lastName }}</b></h3>
    <a href="/mycard/edit">Edit profile</a>
    <h4>Addresses:</h4>
    {% for address in userProfile.addresses %}
    <p>
      {% if address.primary %}<b>{% endif %}
      {{ address.address }}<br/>{{ address.postalCode }}<br/>{{ address.city }}
      {% if address.primary %}</b>{% endif %}
    </p>
    {% endfor %}
    <h4>E-mails:</h4>
    {% for email in userProfile.emails|sort(reverse=True,attribute='primary') %}
    <p>
      {% if email.primary %}<b>{% endif %}
      {{ email.email }} ({{ email.emailType }})
      {% if email.primary %}</b>{% endif %}
    </p>
    {% endfor %}
  </div>
</div>
