<script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    changeRelationship = function(to, id) {
      $.ajax("/changerelationship?to=" + to + "&id=" + id).done(function(data) {
        $("ul > #" + id).slideUp();
      });
    };
  
    $(".accept").click(function() {
      changeRelationship("established", $(this).attr("id"));
      return false;  // stop the page refresh
    });

    $(".reject").click(function() {
      changeRelationship("rejected", $(this).attr("id"));
      return false;  // stop the page refresh
    });
    
  })
</script>
<div id="content">
  <h3>You currently have {{ notificationCount }} notification(s):</h3>
  <ul>
  {% for notification in notifications %}
    <li id="{{ notification.key.id }}"><strong>{{ notification.userFrom.firstname }} {{ notification.userFrom.lastname }}</strong> wants to share contacts with you: <a href="" class="accept" id="{{ notification.key.id }}">accept</a> | <a href="" class="reject" id="{{ notification.key.id }}">reject</a></li>
  {% endfor %}
  </ul>
</div>
