{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Permits{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/stylesheets/Permits.css" />
{% endblock %}
{% block inlinescripts %}
  <script type="text/javascript">
    window.givenNames = "{{ userProfile.givenNames }}";
    window.familyNames = "{{ userProfile.familyNames }}";
  </script>
{% endblock %}
{% block externalscripts %}
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/Permits.js"></script>
{% endblock %}
{% block content %}
  <div class="onecolumn">
    <div id="permitlist">
      {% for permit in permits %}
        {% set permitIndex = loop.index %}
        {% include "templates/Permits_Permit.html" %}
      {% endfor %}
      {{ ui.beginform("newpermit") }}
        {{ ui.begintable() }}
          {{ ui.tablelabel("New permit") }}
          {{ ui.textinput("", "Please type name of your new permit", "newpermitname") }}
          {{ ui.createbutton("permit") }}
        {{ ui.endtable() }}
      {{ ui.endform() }}
    </div>
  </div>
{% endblock %}
