{% extends "templates/masterTemplate.html" %}
{% block title %}Permits{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/permits_view.css" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/permits_view.js"></script>
{% endblock %}
{% block content %}
  <div class="onecolumn">
  <div id="permitlist">
  {% for permit in permits %}
  {% set permitIndex = loop.index %}
  {% include "templates/permits_singlepermit.html" %}
  {% endfor %}
  <span id="newpermit">
    <div class="tableform">
      <table>
      <tbody>
        <tr>
        <td class="formlabels">
          <label>New permit</label>
        </td>
        <td class="forminputs">
          <input type="text" id="newpermitname" placeholder="Please type name of your new permit" />
        </td>
        <td class="forminputs formbuttons">
          <span href="" id="addbutton" class="buttons clickable">
            <img src="/images/squareicons/add.png" />
          </span>
        </td>
        </tr>
      </tbody>
      </table>
    </div>
  </span>
  </div>
  </div>
{% endblock %}
