{% import "templates/ui.html" as ui -%}
<h3>
  {%- if permit.name == "Public" %}
  <img src="/images/icon_public.png" alt="public" />
  {% else %}
  <img src="/images/icon_private.png" alt="private" />
  {% endif -%}
  <label>{{ permit.name }}</label>
  <img src="/images/icon_down.png" class="headerarrows downarrows" alt="" />
  <img src="/images/icon_up.png" class="headerarrows uparrows" alt="" />
</h3>
{{ ui.beginform("permitform" ~ permitIndex) }}
  <input type="hidden" id="permitkey{{ permitIndex }}" value="{{ permit.key() }}" />
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Given names", "givennames", permit.canViewGivenNames, permitIndex, "general names", userProfile.givenNames) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Family names", "familynames", permit.canViewFamilyNames, permitIndex, "general names", userProfile.familyNames) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Birthday", "birthday", permit.canViewBirthday, permitIndex, "general", userProfile.birthDate) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Gender", "gender", permit.canViewGender, permitIndex, "general", userProfile.gender) }}
  {{ ui.endtable() }}
  {% for permitEmail in permit.permitEmails %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("E-mail", "email" ~ loop.index, permitEmail.canView, permitIndex, "general", permitEmail.userEmail.itemValue) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitIM in permit.permitIMs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("IM", "im" ~ loop.index, permitIM.canView, permitIndex, "general", permitIM.userIM.itemValue) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitPhone in permit.permitPhones %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Phone", "phone" ~ loop.index, permitPhone.canView, permitIndex, "general", permitPhone.userPhone.itemValue) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitWWW in permit.permitWWWs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("WWW", "www" ~ loop.index, permitWWW.canView, permitIndex, "general", permitWWW.userWWW.itemValue) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitAddress in permit.permitAddresses %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Address", "address" ~ loop.index, permitAddress.canView, permitIndex, "general", permitAddress.userAddres.address ~ ", " ~ permitAddress.userAddres.city) }}
    {{ ui.endtable() }}
  {% endfor %}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Displayed name") }}
    {{ ui.textlabel(permit.displayName, "", "displayname" ~ permitIndex) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Save changes") }}
    {{ ui.savebutton("updatebuttons", permitIndex) }}
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {% if permit.name != "Public" and permit.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Remove") }}
      {{ ui.removebutton("permit", "removebuttons", permitIndex) }}
      {{ ui.spacer() }}
    {{ ui.endtable() }}
  {%- endif %}
{{ ui.endform() }}