{% import "templates/ui.html" as ui -%}
<h3>
  {%- if permit.name == "Public" %}
  <img src="/images/squareicons/public.png" alt="public" />
  {% else %}
  <img src="/images/squareicons/private.png" alt="private" />
  {% endif -%}
  {{ permit.name }}
  <img src="/images/downarrow.png" class="headerarrows downarrows" alt="" />
  <img src="/images/uparrow.png" class="headerarrows uparrows" alt="" />
</h3>
{{ ui.beginform("permitform" ~ permitIndex) }}
  <input type="hidden" id="permitkey{{ permitIndex }}" value="{{ permit.key() }}" />
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("First names", "givennames", permit.canViewFirstNames, permitIndex, "general names", userProfile.givenNames|join(" ")) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Last names", "familynames", permit.canViewLastNames, permitIndex, "general names", userProfile.familyNames|join(" ")) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Birthday", "birthday", permit.canViewBirthday, permitIndex, "general", userProfile.birthDay) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Gender", "gender", permit.canViewGender, permitIndex, "general", userProfile.gender) }}
  {{ ui.endtable() }}
  {% for permitEmail in permit.permitEmails %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("E-mail", "email" ~ loop.index, permit.canViewGender, permitIndex, "general", permitEmail.userEmail.email) }}
    {{ ui.endtable() }}
  {% endfor %}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Displayed name") }}
    {{ ui.textlabel(permit.displayName, "", displayname ~ permitIndex) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Save changes") }}
    {{ ui.savebutton("updatebuttons", permitIndex) }}
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {% if permit.name != "Public" and permit.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Remove") }}
      {{ ui.removebutton("permit", "removebuttons", permitIndex) }}
      {{ ui.spacer() }}
    {{ ui.endtable() }}
  {%- endif %}
{{ ui.endform() }}