{% import "templates/ui.html" as ui -%}
<h3 {% if persona.name == "Public" -%}class="publicpersona"{%- endif %}>
  {%- if persona.name == "Public" %}
  <div class="personaicons public"></div>
  {% else %}
  <div class="personaicons private"></div>
  {% endif -%}
  <label>{{ persona.name }}</label>
  <div class="personaicons arrows"></div>
</h3>
{{ ui.beginform("personaform" ~ personaIndex, "publicpersona", personaIndex) }}
  <input type="hidden" id="personakey{{ personaIndex }}" value="{{ persona.key() }}" />
  <input type="hidden" id="personaid{{ personaIndex }}" value="{{ persona.key().id() }}" />
  {% if persona.name != "Public" and persona.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Persona name") }}
      {{ ui.textinput(persona.name, "", "personaname" ~ personaIndex, "personanames general", "") }}
    {{ ui.endtable() }}
  {%- endif %}
  {% if photos|length %}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Picture") }}
      <td class="forminputs imageinputs">
        <input type="hidden" class="photoselections general" id="photoselection{{ personaIndex }}" value="">
        {% for photo in photos %}
        <input type="hidden" class="photokeys" id="photo{{ loop.index }}" value="{{ photo.key() }}">
          <div class="photowrappers">
            <img class="thumbnails {% if persona.picture and photo.key() == persona.picture.key() %}selected{% endif %}" src="{{ photo.servingUrl }}=s40-c" width="40" height="40" data-psinque-index="{{ loop.index }}"/>
            <div class="photocheckmarks"></div>
          </div>
        {% endfor %}
      </td>
    {{ ui.endtable() }}
  {% endif %}
  {% if userProfile.namePrefix %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Prefix", "prefix", persona.canViewPrefix, personaIndex, "general", userProfile.namePrefix) }}
    {{ ui.endtable() }}
  {% endif %}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Given names", "givennames", persona.canViewGivenNames, personaIndex, "general", userProfile.givenNames) }}
  {{ ui.endtable() }}
  {% if userProfile.givenNamesRomanization %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Romanization", "givennamesroman", persona.canViewRomanGivenNames, personaIndex, "general", userProfile.givenNamesRomanization) }}
    {{ ui.endtable() }}
  {% endif %}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Family names", "familynames", persona.canViewFamilyNames, personaIndex, "general", userProfile.familyNames) }}
  {{ ui.endtable() }}
  {% if userProfile.familyNamesRomanization %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Romanization", "familynamesroman", persona.canViewRomanFamilyNames, personaIndex, "general", userProfile.familyNamesRomanization) }}
    {{ ui.endtable() }}
  {% endif %}
  {% if userProfile.nameSuffix %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Suffix", "suffix", persona.canViewSuffix, personaIndex, "general", userProfile.nameSuffix) }}
    {{ ui.endtable() }}
  {% endif %}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Nickname") }}
    {% if not persona.nickname is none %}
      {% set nickname = persona.nickname.key() %}
    {% else %}
      {% set nickname = "None" %}
    {% endif %}
    {{ ui.dropdown(nicknames, nickname, "nickname" ~ personaIndex, "nicknames nosearch general") }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Company") }}
    {% if not persona.company is none %}
      {% set company = persona.company.key() %}
    {% else %}
      {% set company = "None" %}
    {% endif %}
    {{ ui.dropdown(companies, company, "company" ~ personaIndex, "companies nosearch general") }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Birthday", "birthday", persona.canViewBirthday, personaIndex, "general", userProfile.birthDate) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Gender", "gender", persona.canViewGender, personaIndex, "general", userProfile.gender) }}
  {{ ui.endtable() }}
  {% for permitEmail in persona.permitEmails %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("E-mail", "email" ~ loop.index, permitEmail.canView, personaIndex, "individual emails", permitEmail.userEmail.itemValue, permitEmail.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitIM in persona.permitIMs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("IM", "im" ~ loop.index, permitIM.canView, personaIndex, "individual", permitIM.userIM.itemValue.address, permitIM.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitPhone in persona.permitPhones %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Phone", "phone" ~ loop.index, permitPhone.canView, personaIndex, "individual", permitPhone.userPhoneNumber.itemValue, permitPhone.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitWWW in persona.permitWWWs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("WWW", "www" ~ loop.index, permitWWW.canView, personaIndex, "individual", permitWWW.userWebpage.itemValue, permitWWW.key(), loop.index, labelclass="urls") }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitAddress in persona.permitAddresses %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Address", "address" ~ loop.index, permitAddress.canView, personaIndex, "individual", permitAddress.userAddress.itemValue, permitAddress.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Displayed name") }}
    {{ ui.textlabel(persona.displayName, "", "displayname" ~ personaIndex) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("URL") }}
    {{ ui.textlabel("http://psinque.com/p/" ~ persona.key(), "urls", "url" ~ personaIndex) }}
    <td class="forminputs formbuttons">
      <div>
        <span class="buttons clickable buttons-qr qrurlgenerators" title="Generate QR code with this URL" data-psinque-index="{{ personaIndex }}"></span>
      </div>
    </td>
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Save changes") }}
    {{ ui.savebutton("updatebuttons", tooltip="Save changes in this persona", index=personaIndex) }}
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Get vCard") }}
    <td class="forminputs formbuttons">
      <div>
        <a href="/personas/getvcardastext?key={{ persona.key() }}" title="Download this persona as a vCard"><span class="buttons clickable buttons-text"></span></a>
      </div>
    </td>
    <td class="forminputs formbuttons">
      <div>
        <a href="/personas/getvcardasgif?key={{ persona.key() }}" title="Download this persona as a QR-encoded vCard"><span class="buttons clickable buttons-qr"></span></a>
      </div>
    </td>
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {% if persona.name != "Public" and persona.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Remove") }}
      {{ ui.removebutton("persona", "removebuttons", tooltip="Remove this persona", index=personaIndex) }}
      {{ ui.spacer() }}
    {{ ui.endtable() }}
  {%- endif %}
{{ ui.endform() }}