{% import "templates/ui.html" as ui -%}
<h3 {% if persona.name == "Public" -%}class="publicpersona"{%- endif %}>
  {%- if persona.name == "Public" %}
  <img src="/images/icon_public.png" alt="public" />
  {% else %}
  <img src="/images/icon_private.png" alt="private" />
  {% endif -%}
  <label>{{ persona.name }}</label>
  <img src="/images/icon_down.png" class="headerarrows downarrows" alt="" />
  <img src="/images/icon_up.png" class="headerarrows uparrows" alt="" />
</h3>
{{ ui.beginform("personaform" ~ personaIndex, "publicpersona", personaIndex) }}
  <input type="hidden" id="personakey{{ personaIndex }}" value="{{ persona.key() }}" />
  <input type="hidden" id="personaid{{ personaIndex }}" value="{{ persona.key().id() }}" />
  {% if persona.name != "Public" and persona.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Persona name") }}
      {{ ui.textinput(persona.name, "", "personaname" ~ personaIndex, "personanames general", "") }}
    {{ ui.endtable() }}
  {%- endif %}
  {% if photos|length %}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Picture") }}
      <td class="forminputs imageinputs">
        <input type="hidden" class="photoselections" id="photoselection{{ personaIndex }}" value="">
        {% for photo in photos %}
          <input type="hidden" class="photokeys" id="photo{{ loop.index }}" value="{{ photo.key() }}">
          <img class="thumbnails {% if persona.picture and photo.key() == persona.picture.key() %}selected{% endif %}" src="{{ photo.servingUrl }}=s40-c" width="40" height="40" data-psinque-index="{{ loop.index }}"/>
        {% endfor %}
      </td>
    {{ ui.endtable() }}
  {% endif %}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Given names", "givennames", persona.canViewGivenNames, personaIndex, "general", userProfile.givenNames) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Family names", "familynames", persona.canViewFamilyNames, personaIndex, "general", userProfile.familyNames) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Nickname") }}
    {{ ui.dropdown(nicknames, persona.nickname.itemValue, "nickname" ~ personaIndex, "nicknames nosearch") }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Company") }}
    {{ ui.dropdown(companies, persona.company.companyName, "company" ~ personaIndex, "companies nosearch") }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Birthday", "birthday", persona.canViewBirthday, personaIndex, "general", userProfile.birthDate) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.labelcheckbox("Gender", "gender", persona.canViewGender, personaIndex, "general", userProfile.gender) }}
  {{ ui.endtable() }}
  {% for permitEmail in persona.permitEmails %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("E-mail", "email" ~ loop.index, permitEmail.canView, personaIndex, "individual emails", permitEmail.userEmail.itemValue, permitEmail.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitIM in persona.permitIMs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("IM", "im" ~ loop.index, permitIM.canView, personaIndex, "individual", permitIM.userIM.itemValue.address, permitIM.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitPhone in persona.permitPhones %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Phone", "phone" ~ loop.index, permitPhone.canView, personaIndex, "individual", permitPhone.userPhoneNumber.itemValue, permitPhone.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitWWW in persona.permitWWWs %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("WWW", "www" ~ loop.index, permitWWW.canView, personaIndex, "individual", permitWWW.userWebpage.itemValue, permitWWW.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {% for permitAddress in persona.permitAddresses %}
    {{ ui.begintable() }}
      {{ ui.labelcheckbox("Address", "address" ~ loop.index, permitAddress.canView, permitIndex, "individual", permitAddress.userAddress.itemValue, permitAddress.key(), loop.index) }}
    {{ ui.endtable() }}
  {% endfor %}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Displayed name") }}
    {{ ui.textlabel(persona.displayName, "", "displayname" ~ personaIndex) }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Save changes") }}
    {{ ui.savebutton("updatebuttons", tooltip="Save changes in this persona", index=personaIndex) }}
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {{ ui.begintable() }}
    {{ ui.tablelabel("Get vCard") }}
    <td class="forminputs formbuttons">
      <div>
        <a href="/personas/getvcardastext?key={{ persona.key() }}"><span class="buttons clickable buttons-text"></span></a>
      </div>
    </td>
    <td class="forminputs formbuttons">
      <div>
        <a href="/personas/getvcardasgif?key={{ persona.key() }}"><span class="buttons clickable buttons-qr"></span></a>
      </div>
    </td>
    {{ ui.spacer() }}
  {{ ui.endtable() }}
  {% if persona.name != "Public" and persona.name != "Default" -%}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Remove") }}
      {{ ui.removebutton("persona", "removebuttons", tooltip="Remove this persona", index=personaIndex) }}
      {{ ui.spacer() }}
    {{ ui.endtable() }}
  {%- endif %}
{{ ui.endform() }}