{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Personas{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/stylesheets/Personas.css" />
{% endblock %}
{% block inlinescripts %}
  <script type="text/javascript">
    window.givenNames = "{{ userProfile.givenNames }}";
    window.familyNames = "{{ userProfile.familyNames }}";
  </script>
{% endblock %}
{% block externalscripts %}
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/Personas.js"></script>
{% endblock %}
{% block content %}
  <div class="onecolumn">
    {{ ui.beginform("publicprofile") }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Public profile") }}
        {{ ui.checkbox("enablepublicprofile", userProfile.publicEnabled, "Enable") }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
    <div id="personalist">
      {% for persona in personas %}
        {% set personaIndex = loop.index %}
        {% include "templates/Personas_Persona.html" %}
      {% endfor %}
    </div>
    {{ ui.beginform("newpersona") }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("New persona") }}
        {{ ui.textinput("", "Please type name of your new persona", "newpersonaname") }}
        {{ ui.addbutton("persona", tooltip="Add new persona") }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  </div>
{% endblock %}
