{% extends "templates/static.html" %}
{% block title %}Privacy policy{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    We, at Psinque, value your privacy. We also believe that relationship between us should be build on trust. That's why Psinque will always follow a full disclosure policy concerning the storage and processing of your personal data. And we will try to do it in an understandable way. If you have any questions regarding privacy, don't hesitate to contact us as privacy[at]psinque.com
  </p>
  <h3>Back-end and Storage Technology</h3>
  <p>
    Since our goal is to provide a reliable and durable service, the technology supporting our back-end should also meet similar requirements. We considered multiple providers before we decided to go with <a href="https://developers.google.com/appengine/docs/whatisgoogleappengine">Google's App Engine</a> and the <a href="https://developers.google.com/appengine/docs/python/datastore/">Datastore</a>. Google App Engine allows us to create a scalable and performance-driven solution using Google's state of the art infrastructure. It also allows us to focus on designing the application, not on the maintenance of the server infrastructure.
  </p>
  <h3>Security of your personal data</h3>
  <p>
    Psinque keeps your data confidential and will never share it with third parties. Ever. We try to keep the number of employees with access to the database engine as low as possible (currently only 2) and all of them are required to use <a href="https://support.google.com/accounts/answer/180744?hl=en">two-step verification</a>.
  </p>
  <h3>Type of information we will ask you to provide</h3>
  <p>
    You do not have to provide any information, but the point of Psinque is that you give us your personal information (name, nickname, phone numbers, address information, emails, instant messanger data, web sites) and tell us who of your friends can see what. How detailed will be the information you provide us with is left up to you. Furthermore, Psinque will store information that allows you to establish a connection between you and your contacts (this is what we refer to as "psinques").
  </p>
  <h3>How we will be using your information?</h3>
  <p>
    We will use your information only within the boundaries defined by our Terms of Service. To sum up, it will be only used to keep the phone books of your contacts up to date. We will not disclose your information to any third party. We may, however, use those data to calculate various statistics for internal purposes (e.g., the distribution of age or geographical distribution of our users).
  </p>
  <h3>Who owns the information you provide?</h3>
  <p>
    You are the owner of this information and Psinque is only providing a hosting service. We will never use your information except in the cases provided in our Terms of Service (e.g. contact your primary email to notify about severe issue).
  </p>
</div>
{% endblock %}
