{% extends "templates/static.html" %}
{% block title %}Privacy policy{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    Psinqe values your privacy. We believe that relationship between us should be build on mutual trust. That's why we will always follow a full disclosure policy concerning the collection, storage, processing and disclosure of your personal data. If you have any questions regarding privacy, don't hesitate to contact us at privacy[at]psinque.com
  </p>
  <h3>Information collection, storage and use</h3>
  <p>
    <b>Information collected upon registration:</b> Once you register with Psinque, we will ask you to provide your personal data including: first name, last name, pictures, nickname, company name, emails, telephone numbers, IMs, websites and home address, however not all of the above is mandatory. The information you provide will not be publicly available.
  </p>
  <p>
    <b>Information collected during the usage:</b> Once you start using our service we will be collecting additional information. These include the links ("psinques") between you and other Users, when was the last time when your device synchronized its contacts list with Psinque and when was the last time you logged into Psinque.
  </p>
  <p>
    <b>Data storage technology:</b> Since our goal is to provide a reliable and durable service, the technology supporting our back-end should also meet similar requirements. We considered multiple providers before we decided to go with <a href="https://developers.google.com/appengine/docs/whatisgoogleappengine">Google's App Engine</a> and the <a href="https://developers.google.com/appengine/docs/python/datastore/">Datastore</a>. Google App Engine allows us to create a scalable and performance-driven solution using Google's state of the art infrastructure. It also allows us to focus on designing the application, not on the maintenance of the server infrastructure.
  </p>
  <p>
    <b>Information use:</b> The information you provide us with will be used to synchronize your personal data with your contacts. Additionally we might use this data for statistical and analytical purposes (e.g. age, gender or geographical distribution) in order to improve our services.
  </p>
  <p>
    <b>Information security:</b> We keep the number of employees with access to the database engine as low as possible (currently only 2) and all of them are required to use <a href="https://support.google.com/accounts/answer/180744?hl=en">two-step verification</a>.
  </p>
  <p>
    <b>Information property:</b> You are the owner of the personal information and pictures you provide us with and Psinque is providing only a hosting and exchange platform.
  </p>
  <p>
    <b>Cookies:</b> Like most of the websites, we also use "cookie" technology. A cookie is a small data file that is transferred to your computer's hard disk. Most of the contemporary web browsers automatically accept cookies, but you may change the settings and instruct your browser either not to accept the cookies or to prompt you before accepting a cookie.
  </p>
  <p>
    <b>Log Data:</b> Our servers automatically record information when you use our Services. This information helps us to track issues and solve errors and will never be used for any other purpose.
  </p>

  <h3>Information disclosure and sharing</h3>
  <p>
    Psinque keeps your data confidential and will never share it with third parties except in the circumstances described below.
  </p>
  <p>
    <b>Service providers:</b> We are using various service providers. <a href="link to page">Here</a> you can find their full list, purpose of information disclosure and type of information disclosed.
  </p>
  <p>
    <b>Law:</b> We may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Psinque's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information. If we are forced to surrender your personal data, we will notify you about that fact within 5 days your primary email address.
  </p>
  <p>
    <b>Business transfers:</b> In the event that we are involed in merger, acquisition or reorganization, we may sell your personal information, provided that it will be used for exactly the same purpose as we are using it.
  </p>
  <p>
    <b>Other Psinque Users:</b> Your personal data is exposed to other Psiqne Users only if a connection between both parties has been established. Creation of such a link grants us the permission to enable sharing of the contact information between the linked users. The level of contact information's detail shared is configurable via Permits. Besides an automatically generated default Permit, you may define any number of private Permits and enable the Public Permit. Once it is enabled, any other User may establish a connection with you and see the data disclosed in that Permit. Should you decide to sever an existing connection with another user, we will no longer provide updates to that user and you will disappear from that user's contact list in our web interface. However depending on the configuation of that user's device it is possible, that the your most recently shared personal information will persist on that device until it has been manually removed.
  </p>
  <p>
    <b>Aggregated and anonymized data:</b> We reserve the right to publish aggregated or anonymized information (example: number of men between the age of 21 and 40 using our service in the United States).
  </p>
  <h3>Information disclosure and sharing</h3>
  <p>
    We reserve the right to ammend this policy with a notification period of at least 14 days.
  </p>
</div>
{% endblock %}
