
{% extends "templates/master.html" %}

{% import "templates/ui.html" as ui %}

{%- macro addCompany(loopFirst, loopIndex, itemCount, itemKey, companyName, positionName) -%}
  {% include "templates/Profile_Company.html" %}
{%- endmacro -%}

{%- macro addNickname(loopFirst, loopIndex, itemCount, itemKey, itemValue) -%}
  {% include "templates/Profile_Nickname.html" %}
{%- endmacro -%}

{%- macro addEmail(primary, tablelabel, emailCount, loopfirst, emailkey, emailaddress, privacyType) -%}
  {% include "templates/Profile_Email.html" %}
{%- endmacro -%}

{%- macro addTextItem(tableLabel, prefix, itemTypes, loopFirst, loopIndex, itemCount, itemKey, itemValue, itemType, privacyType, privacyTypes) -%}
  {% include "templates/Profile_TextItem.html" %}
{%- endmacro -%}

{%- macro addAddress(loopFirst, loopIndex, addressCount, addressKey, addressMain, privacyType, addressLocation, city, country, postalCode) -%}
  {% include "templates/Profile_Address.html" %}
{%- endmacro -%}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/stylesheets/Profile.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/colorbox.css" />
{% endblock %}

{% block externalscripts %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbYyXY_nwEorG6uOAMY5nf-3yrKx7Agfg&sensor=false&v=3.14.3"></script>
    <script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.colorbox.min.js"></script> 
    <script type="text/javascript" src="/javascripts/Profile.js"></script>
{% endblock %}

{% block content %}
  {% if firstlogin %}
  <h3 id="firstlogin">This is your first login, so please fill up your profile below.</h3>
  {% endif %}
  <div id="photos">
    <div id="mosaic">
      {% for photo in userProfile.photos %}
        {% include "templates/Profile_Thumbnail.html" %}
      {% else %}
        <img src="/images/nophoto.png" id="nophoto">
      {% endfor %}
    </div>
    <div id="uploadbutton">
      <div class="fileinput-button">
        <input id="imageupload" type="file" name="files[]" multiple>
        <span class="buttons clickable buttons-add" id="addphoto"></span>
      </div> 
    </div>
  </div>
  <div id="profile">
    {{ ui.beginform() }}
    
      {{ ui.begintable() }}
        {{ ui.tablelabel("Name", 4) }}
        {{ ui.textinput(userProfile.namePrefix, "Prefix", "prefix", "general") }}
        {{ ui.spacer() }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.givenNames, "Given names", "givennames", "required general") }}
        {{ ui.textinput(userProfile.givenNamesRomanization, "Romanization", "givenroman", "general") }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.familyNames, "Family names", "familynames", "required general") }}
        {{ ui.textinput(userProfile.familyNamesRomanization, "Romanization", "familyroman", "general") }}
        {{ ui.newrow() }}
        {{ ui.textinput(userProfile.nameSuffix, "Suffix", "suffix", "general") }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
      
      <table id="nicknamestable"><tbody>
        {{ addNickname(True, 0, nicknames|count + 1, "", "") }}
        {% for nickname in nicknames %}
          {{ addNickname(False, loop.index, items|count, nickname.key(), nickname.itemValue) }}
        {% endfor %}
      </tbody></table>
      
      <table id="companystable"><tbody>
        {{ addCompany(True, 0, companies|count + 1, "", "", "") }}
        {% for company in companies %}
          {{ addCompany(False, loop.index, items|count, company.key(), company.companyName, company.positionName) }}
        {% endfor %}
      </tbody></table>
      
      {{ ui.begintable() }}
        {{ ui.tablelabel("Birthday") }}
        {{ ui.dropdown(range(1, 31+1), userProfile.birthDate.day, "birthdays", "nosearch shortbox", "shortinput") }}
        {{ ui.dropdown(months, months[userProfile.birthDate.month-1], "birthmonths", "nosearch shortbox", "shortinput") }}
        {{ ui.dropdown(range(2013, 1899, -1), userProfile.birthDate.year, "birthyears", "nosearch shortbox", "shortinput") }}
          <td class="forminputs sublabel">Gender:</td>
        {{ ui.dropdown(genders, userProfile.gender, "gender", "nosearch shortbox", "shortinput") }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
      
      <table id="primaryemailaddress"><tbody>
        {{ addEmail(True, "Primary email", 1, True, primaryEmail.key(), primaryEmail.itemValue, primaryEmail.privacyType) }}
      </tbody></table>
      
      <table id="additionalemailstable"><tbody>
        {{ addEmail(False, "Additional emails", additionalEmails|count + 1, True, "", "", "Home") }}
        {% for email in additionalEmails %}
          {{ addEmail(False, "Additional emails", 1, False, email.key(), email.itemValue, email.privacyType) }}
        {% endfor %}
      </tbody></table>
      
      <table id="addressstable"><tbody>
        {% for address in addresses %}
          {{ addAddress(loop.first, loop.index, addresses|count, address.key(), address.address, address.privacyType, address.location, address.city, address.countryCode, address.postalCode) }}
        {% else %}
          {{ addAddress(True, 1, 1, "", "", "", None, "", "", "") }}
        {% endfor %}
      </tbody></table>
      
      {{ ui.multipletextinputwithtypes(phones, phoneTypes, privacyTypes, "Phone numbers", "phone") }}
      
      <table id="imstable"><tbody>
        {% for item in ims %}
          {{ addTextItem("IM", "im", imTypes, loop.first, loop.index, ims|count, item.key(), item.itemValue.address, item.itemValue.protocol, item.privacyType, privacyTypes) }}
        {% else %}
          {{ addTextItem("IM", "im", imTypes, True, 1, 1, "", "", "", "Home", privacyTypes) }}
        {% endfor %}
      </tbody></table>
      {{ ui.multipletextinputwithtypes(wwws, wwwTypes, privacyTypes, "WWW", "www") }}
      
      {{ ui.begintable() }}
        {{ ui.tablelabel("Save changes") }}
        {{ ui.savebutton() }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
      
    {{ ui.endform() }}
  </div>
  <br style="clear:both;"/>
{% endblock %}
