<tr>
  {% if loopFirst %}
    <td rowspan="{{ addressCount * 3 }}" class="formlabels" id="addresseslabel">
      <label>Physical addresses</label>
    </td>
  {% endif %}
  {{ ui.textinputwithkey(addressMain, "Address", "address", "addresses required addressdata", loopIndex, addressKey, "addresskeys", 2) }}
  {{ ui.dropdown(privacyTypes, privacyType, "addressprivacytype" ~ loopIndex, "nosearch mediumbox", "mediuminput") }}
  {% if loopFirst %}
    {{ ui.addbutton("address") }}
  {% else %}
    {{ ui.removebutton("address", "addressremovers") }}
  {% endif %}
{{ ui.newrow() }}
  {{ ui.textinput(city, "City", "city" ~ loopIndex, "cities required addressdata") }}
  {{ ui.textinput(postalCode, "Postal code", "postalcode" ~ loopIndex, "postalcodes") }}
  {{ ui.dropdown(countries, country, "country" ~ loopIndex, "search countries") }}
  {{ ui.button("map", "localize", "localizers", loopIndex) }}
{{ ui.newrow("hiddenelements") }}
  <td class="forminputs" colspan="3">
    <div class="googlemaps" id="googlemap{{ loopIndex }}"></div>
    <input type="hidden" class="longitudes" id="longitude{{ loopIndex }}" {% if addressLocation %}value="{{ addressLocation.lon }}"{% endif %} readonly="readonly" data-psinque-index="{{ loopIndex }}" />
    <input type="hidden" class="latitudes" id="latitude{{ loopIndex }}" {% if addressLocation %}value="{{ addressLocation.lat }}"{% endif %} readonly="readonly" />
  </td>
  {{ ui.removebutton("map", "mapremovers") }}
</tr>
