{% if primary %}
<tr class="additionalemails">
{% else %}
<tr class="primaryemails">
{% endif %}
  {% if loopfirst %}
    {% if primary %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="primaryemaillabel">
    {% else %}
      <td rowspan="{{ emailCount }}" class="formlabels" id="additionalemaillabel">
    {% endif %}
    <label>{{ tablelabel }}</label>
  </td>
  {% endif %}
  {% if primary %}
    {% set inputclass = "required primary emailaddresses" %}
  {% else %}
    {% set inputclass = "additional emailaddresses" %}
  {% endif %}
  {% if emailaddress != "primary@nonexistant.com" %}
    {{ ui.textinputwithkey(emailaddress, "", "", inputclass, "", emailkey, "additionalemailkeys") }}
  {% else %}
    {{ ui.textinputwithkey("", "", "", inputclass, "", emailkey, "additionalemailkeys") }}
  {% endif %}
  {{ ui.dropdown(privacyTypes, privacyType, "", "typesofemail", "smallinput") }}
  {% if not loopfirst %}
    {{ ui.removebutton("email", "emailremovers") }}
  {% elif tablelabel != "Primary email" %}
    {{ ui.addbutton("additionalemail") }}
  {% endif %}
</tr>
