{% import "templates/ui.html" as ui %}
<tr>
  {% if loopFirst %}
    <td rowspan="{{ itemCount }}" class="formlabels" id="nicknamelabel">
      <label>Nickname</label>
    </td>
  {% endif %}
  {{ ui.textinputwithkey(itemValue, "New nickname", "nickname", "nicknames", loopIndex, itemKey, "nicknamekeys") }}
  {% if not loopFirst %}
    {{ ui.removebutton("nickname", "nicknameremovers", tooltip="Remove this nickname") }}
  {% else %}
    {{ ui.addbutton("nickname", tooltip="Add new nickname") }}
  {% endif %}
</tr>
