{% import "templates/ui.html" as ui %}
<tr>
  {% if loopFirst %}
    <td rowspan="{{ itemCount }}" class="formlabels" id="{{ prefix ~ 'label' }}">
      <label>{{ tableLabel }}</label>
    </td>
  {% endif %}
  {{ ui.textinputwithkey(itemValue, "", prefix, prefix ~ "s", loopIndex, itemKey, prefix ~ "keys") }}
  {{ ui.dropdown_hierarchical(itemTypes, itemType, "", prefix ~ "types" ~ " mediumbox nosearch", "mediuminput") }}
  {% if not loopFirst %}
    {{ ui.removebutton(prefix, prefix ~ "removers") }}
  {% else %}
    {{ ui.addbutton(prefix) }}
  {% endif %}
</tr>
