{% import "templates/ui.html" as ui -%}
{%- macro tablelessbutton(id, class="", tooltip="") -%}
  <span title="{{ tooltip }}" class="{{ class }} buttons"></span>
{%- endmacro -%}
<div class="contacts">
  <div class="shortdetails">
    <div class="contactphotos">
      <img src="/images/smallphoto.png" />
    </div>
    <div class="contactnames clickable">
      {{ contact.displayName }}
      <input type="hidden" value="{{ contact.key() }}" class="contactkeys" />
    </div>
    <div class="contactcontrols">
      {% if contact.incoming %}
        {{ tablelessbutton("contact", "buttons-in-active", tooltip="Incoming psinque is active") }}
      {% else %}
        {{ tablelessbutton("contact", "buttons-in-inactive", tooltip="Incoming psinque is not active") }}
      {% endif %}
      {% if contact.outgoing %}
        {{ tablelessbutton("contact", "buttons-out-active", tooltip="Outgoing psinque is active") }}
      {% else %}
        {{ tablelessbutton("contact", "buttons-out-inactive", tooltip="Outgoing psinque is not active") }}
      {% endif %}
      {% if contact.incoming %}
        {% if contact.status == "private" %}
          {{ tablelessbutton("contact", "buttons-private", tooltip="You have access to the private contact data") }}
        {% elif contact.status == "pending" %}
          {{ tablelessbutton("contact", "buttons-pending", tooltip="Your request to access private data is pending") }}
        {% else %}
          {{ tablelessbutton("contact", "buttons-public contactupgraders clickable", tooltip="You have access to the public contact data") }}
        {% endif %}
      {% else %}
        {{ tablelessbutton("contact", "buttons-private", tooltip="You have access to the private contact data") }}
      {% endif %}
      {{ tablelessbutton("contact", "buttons-remove contactremovers clickable", tooltip="Remove this contact") }}
    </div>
  </div>
  <div class="fulldetails hiddenelements">
    <table class="contacttables"><tbody><tr>
    <td class="contactdetails">
      {% if contact.incomin %}
        {% for permit in contact.incoming.persona.permitEmails %}
          {% if permit.canView %}
            <p>{{ permit.userEmail.itemValue }}</p>
          {% endif %}
        {% endfor %}
        {% for permit in contact.incoming.persona.permitIMs %}
          {% if permit.canView %}
            <p>{{ permit.userIM.itemValue }}</p>
          {% endif %}
        {% endfor %}
        {% for permit in contact.incoming.persona.permitWWWs %}
          {% if permit.canView %}
            <p>{{ permit.userWebpage.itemValue }}</p>
          {% endif %}
        {% endfor %}
        {% for permit in contact.incoming.persona.permitPhones %}
          {% if permit.canView %}
            <p>{{ permit.userPhoneNumber.itemValue }}</p>
          {% endif %}
        {% endfor %}
        {% for permit in contact.incoming.persona.permitAddresses %}
          {% if permit.canView %}
            <p>{{ permit.userAddress.itemValue }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </td>
    <td class="groupspersonas">
      <table><tbody>
        <tr>
          <td><b>Group</b></td>
          <td><b>Permit</b></td>
        </tr>
        <tr>
          {{ ui.dropdown(groups, "", class = "groupselects", tdclass = "widedropdown") }}
          {{ ui.dropdown(personas, "", class = "personaselects", tdclass = "widedropdown") }}
        <tr>
      </tbody></table>
    </td>
    </tr></tbody></table>
  </div>
</div>
