<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/incoming_view.js"></script>
<div id="content">
  <legend>Add new psinque</legend>
  <p>
    <label>By email:</label>
    <input type="text" id="email" />
    <a href="" id="search">Search</a></br>
    <label>By telephone number:</label>
    <input type="text" id="email" /><br/>
  </p>
<!--  <p>
    <a href="">Search from Google contacts.</a>
  </p>-->
  <span id="pendings">
  {% if pendings|length %}
  <legend>Pending</legend>
  The following people want to access your private profile data:
  <table><tbody>
    <th>#</th>
    <th>Name</th>
    <th></th>
  {% for pending in pendings %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{ pending.name }}</td>
    <td>
      <input type="hidden" value="{{ pending.key }}" class="keys" />
      <input type="button" value="Reject" class="rejectButtons" />
      or select groups
      <select class="groupSelectors" multiple="multiple">
        {% for group in groups %}
        <option value="{{ group.name }}">{{ group.name }}</option>
        {% endfor %}
      </select>
      and <input type="button" value="Accept" class="acceptButtons" />
    </td>
    </tr>
  {% endfor %}
  </tbody></table>  
  {% endif %}
  </span>
  <legend>Active psinques</legend>
  You have {% if count == 1000 %}1000+{% else %}{{ count }}{% endif %} psinques.
  <table class="contacttables">
    <th>#</th>
    <th>Name</th>
    <th>Status</th>
    <th>Established</th>
    <th></th>
  {% for contact in contacts %}
    <tr>
    <td>{{ contact.nr }}</td>
    <td>{{ contact.name }}</td>
    <td>{{ contact.status }}</td>
    <td>{{ contact.date }}</td>
    <td><a href="/incoming/removepsinque?key={{ contact.key }}">Remove</a></td>
    </tr>
  {% endfor %}
  </table>
  {% if offset > 0 %}
  <a href="javascript: history.go(-1)">Previous page</a>
  {% endif %}
  {% if isThereMore %}
  <a href="/incoming?cursor={{ nextCursor }}&offset={{ offset+10 }}">Next page</a>
  {% endif %}
</div>
