{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Psinques{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/Psinques.css" />
{% endblock %}
{% block externalscripts %}
    <script type="text/javascript" src="/javascripts/Psinques.js"></script>
{% endblock %}
{% block content %}
  {% if pendings|count > 0 %}
    {{ ui.beginform() }}
      <table><tbody>
        {% for pending in pendings %}
          <tr class="notifications">
            {% if loop.first %}
              {{ ui.tablelabel("Notifications", pendings|count, "notificationlabel") }}
            {% endif %}
            {{ ui.textlabel("<b>" ~ pending.name ~ "</b> asks for private data", keyvalue = pending.key, keyclass="notificationkeys") }}
            {{ ui.checkbutton("notification", "accepters", tooltip="Accept this request") }}
            {{ ui.removebutton("notificatoin", "rejecters", tooltip="Reject this request") }}
          </tr>
        {% endfor %}
      </tbody></table>
    {{ ui.endform() }}
  {% endif %}
  {{ ui.beginform("newpsinqueform") }}
    {{ ui.begintable("searchtable") }}
      {{ ui.tablelabel("New psinque", 2) }}
      {{ ui.textinput("", "Type an email address to find your friend", id = "email", class = "emailaddresses") }}
      {{ ui.searchbutton(tooltip="Search") }}
      {{ ui.newrow(id = "searchresults") }}
      {{ ui.textlabel("", id="searchresult", keyvalue="unknown", keyclass="friendsprofilekeys", divclass = "hiddenelements") }}
      {{ ui.addbutton("contact", divclass = "hiddenelements", tooltip="Add to contacts") }}
    {{ ui.endtable() }}
  {{ ui.endform() }}
  <div id="contactlist">
    {% for contact in contacts %}
      {% set contact = contact %}
      {%- include "templates/Psinques_Contact.html" -%}
    {% endfor %}
  </div>
{% endblock %}