{% macro begintable(tablelabel) -%}
    <table>
    <tbody>
      <tr>
        <td class="formlabels"><label>{{ tablelabel }}</label></td>
{%- endmacro %}

{% macro endtable() -%}
      </tr>
    </tbody>
    </table>
{%- endmacro %}

{% macro button(id, action) -%}
        <td class="forminputs formbuttons">
          <span class="buttons clickable" id="{{ action }}{{ id }}">
            <img src="/images/squareicons/{{ action }}.png" />
          </span>
        </td>
{%- endmacro %}

{% macro addbutton(id) -%}
  {{ button(id, "add") }}
{%- endmacro %}

{% macro removebutton(id) -%}
  {{ button(id, "remove") }}
{%- endmacro %}

{% macro savebutton(id) -%}
  {{ button(id, "save") }}
{%- endmacro %}

{% macro dropdown(id, items) -%}
        <td class="forminputs">
          <select id="{{ id }}" data-template="#dropdown">
            {% for item in items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </td>
{%- endmacro %}

{% macro singletextinput(tablelabel, inputid, value="") -%}
  {{ begintable(tablelabel) }}
        <td class="forminputs">
          <input type="text" id="{{ inputid }}" value="{{ value }}" minlength="2" />
        </td>
  {{ endtable() }}
{%- endmacro %}

{% macro multipletextinput(tablelabel, inputid, values, placeholder="") -%}
  {{ begintable(tablelabel) }}
      {% for value in values %}
        <td class="forminputs">
          <input type="text" id="{{ inputid }}{{ loop.index }}" value="{{ value }}" minlength="2" />
        </td>
        {{ removebutton(inputid) }}
      </tr>
      {% endfor %}
        <td class="forminputs">
          <input type="text" id="new{{ inputid }}" value="" placeholder="{{ placeholder }}" minlength="2" />
        </td>
        {{ addbutton(inputid) }}
  {{ endtable() }}
{%- endmacro %}
