{% extends "templates/masterTemplate.html" %}
{% block title %}Psinques{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/javascripts/psinques_view.js"></script>
{% endblock %}
{% block content %}
  <h1>Add new psinque</h1>
  <p>
    <label>By email:</label>
    <input type="text" id="email" />
    <a href="" id="search">Search</a></br>
<!--     <label>By telephone number:</label> -->
<!--     <input type="text" id="email" /><br/> -->
  </p>
<!--  <p>
    <a href="">Search from Google contacts.</a>
  </p>-->
  <span id="pendings">
  {% if pendings|length %}
  <h1>Pending</h1>
  The following people want to access your private profile data:
  <table class="contacttables"><tbody>
    <th>#</th>
    <th>Name</th>
    <th></th>
  {% for pending in pendings %}
    <tr>
    <td>{{ loop.index }}</td>
    <td>{{ pending.name }}</td>
    <td>
      <input type="hidden" value="{{ pending.key }}" class="PsinqueKeys" />
      <input type="button" value="Reject" class="Rejecters" />
      or <input type="button" value="Accept" class="Accepters" />
    </td>
    </tr>
  {% endfor %}
  </tbody></table>
  {% endif %}
  </span>
  <h1>Active psinques</h1>
  You have {% if count == 1000 %}1000+{% else %}{{ count }}{% endif %} psinques.
  <table class="contacttables">
    <th>#</th>
    <th>Name</th>
    <th>Incoming status</th>
    <th>Incoming private</th>
    <th>Outgoing status</th>
    <th>Created</th>
    <th></th>
  {% for contact in contacts %}
    <tr>
    <td>{{ loop.index+count-1 }}</td>
    <td>{{ contact.displayName }}</td>
    <td>{{ contact.incoming.status }}</td>
    <td>{{ contact.incoming.private }}</td>
    <td>{{ contact.outgoing.status }}</td>
    <td>{{ contact.creationTime|humanizeddatetime }}</td>
    <td>
        <input type="hidden" value="{{ contact.key() }}" class="ContactKeys" />
        <a href="" class="Removers">Remove</a>
        {% if not contact.incoming %}
        | <a href="" class="privateadders">Request private data</a>
        {% else %}
        {% if not contact.incoming.private %}
        | <a href="" class="requesters">Request private data</a>
        {% endif %}
        {% endif %}
    </td>
    </tr>
  {% endfor %}
  </table>
  {% if offset > 0 %}
  <a href="javascript: history.go(-1)">Previous page</a>
  {% endif %}
  {% if isThereMore %}
  <a href="/incoming?cursor={{ nextCursor }}&offset={{ offset+10 }}">Next page</a>
  {% endif %}
{% endblock %}