{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Psinques{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/Psinques.css" />
{% endblock %}
{% block externalscripts %}
    <script type="text/javascript" src="/javascripts/Psinques.js"></script>
{% endblock %}
{% block abovecontent %}
  <div class="abovecontentcolumn">
    {% if pendings|length %}
    <div class="onecolumn">
      <div class="tableform" id="pendings">
        <table>
        <tbody>
          {% for pending in pendings %}
          <tr>
            <td class="forminputs formnopadding">
              <label>
              <b>{{ pending.name }}</b> wants to access your private contact data.
              </label>
            </td>
            <td>
              <input type="hidden" value="{{ pending.key }}" class="psinquekeys" />
            </td>
            <td class="forminputs formbuttons">
              <a href="" class="accepters">
                <img src="/images/squareicons/add.png" />
              </a>
            </td>
            <td class="forminputs formbuttons">
              <a href="" class="rejecters">
                <img src="/images/squareicons/remove.png" />
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    <div id="searchbox" class="tableform">
      {{ ui.begintable() }}
        {{ ui.button("filter", "incoming_active") }}
        {{ ui.button("filter", "outgoing_active") }}
        {{ ui.dropdown(groups, "", "", "", "smallinput") }}
        {{ ui.textinput("", "Filter your psinques...", "psinque_filter") }}
      {{ ui.endtable() }}
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="onecolumn">
    {{ ui.beginform() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("New psinque") }}
        {{ ui.textinput("", "Type an email address of a friend", "newpsinque") }}
        {{ ui.createbutton("psinque") }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  <!--   <table class="contacttables"> -->
    {% for contact in contacts %}
    <div class="contact">
      <div class="contactphoto">
        <img src="/images/smallphoto.png" />
      </div>
      <div class="contactdetails">
        <b>{{ contact.displayName }}</b></br>
        Created {{ contact.creationTime|humanizeddatetime }}</br>
        <input type="hidden" value="{{ contact.key() }}" class="ContactKeys" />
        <a href="" class="Removers">Remove</a>
        | <a href="" class="privateadders">Request private data</a>
        | <a href="" class="requesters">Request private data</a>  
      </div>
      <div class="psinques">
      {% if contact.incoming.private %}
      kłódka
      {% endif %}
      {% if contact.incoming.status == "established" %}
      <img src="/images/squareicons/incoming_established.png" />
      {% elif contact.incoming.status == "pending" %}
      <img src="/images/squareicons/incoming_pending.png" />
      {% else %}
      <img src="/images/squareicons/incoming_none.png" />
      {% endif %}
      {% if contact.outgoing.status == "established" %}
      <img src="/images/squareicons/outgoing_established.png" />
      {% else %}
      <img src="/images/squareicons/outgoing_none.png" />
      {% endif %}
      </div>
    </div>
    {% endfor %}
  <!--   </table> -->
    {% if offset > 0 %}
    <a href="javascript: history.go(-1)">Previous page</a>
    {% endif %}
    {% if isThereMore %}
    <a href="/incoming?cursor={{ nextCursor }}&offset={{ offset+10 }}">Next page</a>
    {% endif %}
  </div>
{% endblock %}