{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Psinques{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/Psinques.css" />
{% endblock %}
{% block externalscripts %}
    <script type="text/javascript" src="/javascripts/Psinques.js"></script>
{% endblock %}
{% block content %}
    {{ ui.beginform() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Notifications", 2) }}
        {{ ui.textlabel("<b>Krzysztof Radecki</b> has accepted your request.", "", "", "", "", 2) }}
        {{ ui.removebutton() }}
        {{ ui.newrow() }}
        {{ ui.textlabel("<b>Piotr Głuchowski</b> asks for private data.") }}
        {{ ui.checkbutton() }}
        {{ ui.removebutton() }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  {{ ui.beginform("newpsinqueform") }}
    {{ ui.begintable("searchtable") }}
      {{ ui.tablelabel("New psinque", 2) }}
      {{ ui.textinput("", "Type an email address to find your friend", id = "email") }}
      {{ ui.searchbutton() }}
      {{ ui.newrow(id = "searchresults") }}
      {{ ui.textlabel("", id="searchresult", keyvalue="unknown", keyclass="friendsprofilekeys", divclass = "hiddenelements") }}
      {{ ui.addbutton("contact", divclass = "hiddenelements") }}
    {{ ui.endtable() }}
  {{ ui.endform() }}
  {{ ui.beginform("searchform") }}
    {{ ui.begintable() }}
      {{ ui.tablelabel("Filter") }}
      {{ ui.dropdown(groups, "") }}
      {{ ui.textinput("", "Custom text search", "psinque_filter") }}
      {{ ui.searchbutton("psinque") }}
    {{ ui.endtable() }}
  {{ ui.endform() }}
  <div id="contactlist">
    {% for contact in contacts %}
      {% set contact = contact %}
      {%- include "templates/Psinques_Contact.html" -%}
    {% endfor %}
  </div>
{% endblock %}