{% extends "templates/masterTemplate.html" %}
{% block title %}Settings{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/javascripts/settings_view.js"></script>
{% endblock %}
{% block content %}
    <legend>Language settings</legend>
    <p>
    <label>Preferred language:</label>
    <select id="language">
        {% for languageCode, languageName in availableLanguages.iteritems() %}
        <option {% if languageCode == userSettings.preferredLanguage %} selected {% endif %} value="{{ languageCode }}">{{ languageName }}</option>
        {% endfor %}
    </select>
    </p>
    <legend>Notifications</legend>
    <p>
    <input type="checkbox" id="newsletter" {% if userSettings.notifyNewsletter %}checked="checked"{% endif %}">Send me a Newsletter
    </p>
    <p>
    <input type="checkbox" id="emailNotifications" {% if userSettings.notifyEmails %}checked="checked"{% endif %}">Send me a email notifications
    </p>
    <legend>Contact synchronization</legend>
<!--      <p>
    <input type="checkbox" name="syncgoogle" {% if syncWithGoogle %}checked="checked"{% endif %}">Psinque with my Google account
    </p>-->
    <p>
    <input type="checkbox" id="syncCardDAV" {% if userSettings.cardDAVenabled %}checked="checked"{% endif %}">Allow CardDAV psinquing
    <br />
    </p>
    <span id="carddavLogins" {% if not cardDAVenabled %}disabled="disabled"{% endif %}>
      <b>Existing CardDAV logins:</b><br/>
      {% for login in carddavLogins %}
        <p>{{ login.name }}
          <input type="hidden" class="CardDAVkeys" value="{{ login.key() }}">
          <input type="button" class="RemoveCardDAV" value="Remove" />
        </p>
      {% else %}
      None.<br/>
      {% endfor %}
      <b>Add new CardDAV login:</b></br>
      <label>Device name:</label><input type="text" id="newCardDAVName" />
      <input type="button" id="generateCardDAV" value="Generate login data"/>
    </span>
    </br>
    <input type="submit" id="saveButton" value="Save" />
    <span class="donemark"><img src="/images/donemark.png" /></span>
{% endblock %}