<div id="content">
  <form action="/settings" method="POST">
    <h3>Language settings:</h3>
    <p><select name="language">
    {% for languageCode, languageName in availableLanguages.iteritems() %}
      <option {% if languageCode == preferredLanguage %} selected {% endif %} value="{{ languageCode }}">{{ languageName }}</option>
    {% endfor %}
    </select></p>
    <h3>Notifications:</h3>
    <p><input type="checkbox" name="newsletter">Send me a Newsletter</p>
    <input type="submit" value="Save" />
  </form>
</div>
