{% extends "templates/master.html" %}
{% import "templates/ui.html" as ui %}
{% block title %}Settings{% endblock %}
{% block externalscripts %}
  <script type="text/javascript" src="/javascripts/Settings.js"></script>
{% endblock %}
{% block content %}
  <div class="onecolumn">
    {{ ui.beginform("settings") }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Preferred language") }}
        {{ ui.dropdown(availableLanguages, userSettings.preferredLanguage, "language") }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Notifications", 6) }}
        {{ ui.checkbox("emailnotifications", userSettings.notifyEmails, "Send me email notifications") }}
        {{ ui.newrow("individualnotifications") }}
        {{ ui.checkbox("notifystops", userSettings.notifyStopsUsingMyPrivateData, "When someone stops using my private data") }}
        {{ ui.newrow("individualnotifications") }}
        {{ ui.checkbox("notifyasks", userSettings.notifyAsksForPrivateData, "When someone asks for my private data") }}
        {{ ui.newrow("individualnotifications") }}
        {{ ui.checkbox("notifyaccepts", userSettings.notifyAllowsMePrivateData, "When my request for private data has been accepted") }}
        {{ ui.newrow("individualnotifications") }}
        {{ ui.checkbox("notifyrejects", userSettings.notifyDisallowsMePrivateData, "When my request for private data has been rejected") }}
        {{ ui.newrow("individualnotifications") }}
        {{ ui.checkbox("notifyrevokes", userSettings.notifyRequestDecision, "When permission to use private data is revoked") }}
      {{ ui.endtable() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Synchronization") }}
        {{ ui.checkbox("synccarddav", userSettings.cardDAVenabled, "Allow CardDAV psinquing") }}
      {{ ui.endtable() }}
      {% if carddavLogins|count == 0 %}
        {{ ui.begintable("carddav", "newcarddav") }}
      {% else %}
        {{ ui.begintable("carddav", "carddavlogins") }}
      {% endif %}
        {{ ui.tablelabel("CardDAV devices", carddavLogins|count + 2, "carddavlabel") }}
      {% for login in carddavLogins %}
        {{ ui.textlabel(login.name ~ " (last used " ~ login.lastUsed|humanizeddatetime ~ ")", "carddavnames", "", login.key(), "carddavkeys") }}
        {{ ui.removebutton("carddav" ~ loop.index, "carddavremovers", tooltip="Remove this device") }}
        {% if loop.last %}
          {{ ui.newrow("hiddenelements") }}
        {% else %}
          {{ ui.newrow("carddavlogins") }}
        {% endif %}
      {% endfor %}
        <td class="forminputs" id="carddavlogin"></td>
        <td class="forminputs formbuttons"></td>
      {{ ui.newrow("newcarddav") }}
      {{ ui.textinput("", "Type a name for your device", "newcarddavname") }}
      {{ ui.addbutton("carddav", tooltip="Add new CardDAV device") }}
      {{ ui.endtable() }}
      {{ ui.begintable() }}
        {{ ui.tablelabel("Save changes") }}
        {{ ui.savebutton(tooltip="Save changes in the settings") }}
        {{ ui.spacer() }}
      {{ ui.endtable() }}
    {{ ui.endform() }}
  </div>
{% endblock %}