<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - Psinque</title>
  {%- block inlinescripts -%}
  {%- endblock %}
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="/favicon_57.png" sizes="57x57" type="image/png">
  <link rel="shortcut icon" href="/favicon_128.ico" sizes="128x128" type="image/png">
  <link rel="shortcut icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext,cyrillic-ext,greek,cyrillic,vietnamese,greek-ext" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/StaticPages.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/ui.css" />
  {% block stylesheets -%}
  {%- endblock %}
  <script type="text/javascript" src="/javascripts/ui.js"></script>
  {%- block externalscripts -%}
  {%- endblock %}
</head>
<body>
  <div id="uberwrapper">
    <div id="contentwrapper" class="wrappers">
      <div id="content">
        <div id="biglogo">
          <a href="/">
            <img src="/images/biglogo.png" alt="Psinque" />
          </a>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footerwrapper" class="wrappers">
      {% include "templates/footer.html" %}
    </div>
  </div>
</body>
</html>
