{% extends "templates/static.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
  <ol>
     <li>
      <h3>How does Psinque work?</h3>
      <p>Think of Psinque as a system of buckets interconnected by lines. You can put anything you want in your bucket or remove any numbers of items, but the connecting line will not be severed.</p>
      <p>Psinque does exactly the same with your contact information. Once a link (or as we call it - 'psinque') has been established, you can modify your phone numbers, change your name, modify or add a new address and Psinque will automatically and seamlessly provide this data to your contacts.</p>
    </li>
    <li>
      <h3>OK, so how much does it cost?</h3>
      <p>Psinque is free of charge and we would like to keep it this way. But since great products require extrodinary people to keep them running, we would appreciate any form of financial support.</p>
    </li>
    <li>
      <h3>But I don't want people to find me here. This is just for friends!</h3>
      <p>We know and we value your privacy! That's why if you do not have a public persona, only people who know your phone number or email address will be able to find you. And even than, all they will se is a message that such a person exist. Your data will still be hidden at this point. You will have to confirm that request in order to make your data visible for them.</p>
    </li>
    <li>
      <h3>Who controls and owns my data?</h3>
      <p>You! In order to be able to use our service, we will have to store your data on our servers. But you decide who can access it and what you share with your contact. And should you decide to quit our service, your personal information will be completly delted from our servers as if it never existed.</p>
    </li>
    <li>
      <h3>Can I influence who gets what kind of information?</h3>
      <p>YES! Using <a href="/personas/view">Personas</a> you can create different views of your profile - one for your family, one for your work buddies and one for your BFFs. Every person you establish contact with will be assigned one of those personas and thus will see only what you allow them to see.</p>
    </li>
    <li>
      <h3>What is a public persona?</h3>
      <p>Imagine you have a company and would like to provide your contact data to as many clients as you can. At the same time the idea of having thousands of contacts in your phone just doesn't seem right. Well, this is the reason, why we created public personas. It is basically a one way connection, where people feed on the data you provide at the same time retaining their privacy.</p>
    </li>
    <li>
      <h3>Is there an app for my mobile device?</h3>
      <p>We are planning to develop an application to support less tech-savvy users for all 3 major lattforms. But the best part is - you really do not need one. Configuring your device to run with Psinque won't take longer than 5 minutes.</p>
    </li>
  </ol>
{% endblock %}
