{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}

  <p>
    By now you have edited your Profile and created various Personas. Now it is time to start establishing contacts or as we call them - psinques.
  </p>

  <h3>What is a 'psinque'?</h3>
  <p>
    Psinque is our name for a connection between two contacts. However unlike real life connection, a psinque will exist forever, unless consciously severed. In real life, if a peson moves, changes phone number, email address or gets married, chances are that a contact might be lost.
  </p>
  <p>
    Psinques can divided into incomming, outgoing or both. Let's discuss them in detail and see how they impact the contents of your mobile device's phonebook.
  </p>
  
  <h3>Incomming Psinques</h3>
  <p>
    Incomming psinques are all your contacts who share their personal information with you. A, incomming psinque is marked with the following icon.
  </p>

  <h3>Outgoing Psinques</h3>
  <p>
    Outgoing Psinques are all your contacts that you share your personal information with (as defined within the associated Persona).
  </p>

  <h3>Searching and adding contacts</h3>
  <p>
    Currently you may only add contacts who already have a psinque account. Searching for contacts requires knowing their primary email address.
  </p>
  <ol>
    <li>
      In the top menu click Psinques
    </li>
    <li>
      In the empty field in the New psinque' section type in the primary email of the searched user.
    </li>
    <li>
      Click on the magnifying glass icon to start the search
    </li>
    <li>
      If the searched user has enabled public persona, you will be able to immediately add that user to your psinques.
    </li>
    <li>
      If the searched user has disabled public persona you will have to request private information to add that user to your phone book.
    </li>
  </ol>

  <h3>Requesting private information</h3>
  <p>
    By default once you add a contact, that contact's public persona will be added to your psinques. If that contact has no public psinque, your contact request will be automatically forwarded as a request to access private data (implicit private information request)
  </p>
  <p>
    If you already have access too your contact's public persona, you may want to elevate this status in order to access more private data (explicit private information request)
  </p>
  <ol>
    <li>
      In the top menu click Psinques
    </li>
    <li>
      Find a contact what you would like to ask to provide you with private information access
    </li>
    <li>
      Click the key icon next to that contact's personal infomration. The color of the key will change to red to indicate pending request
    </li>
    <li>
      Once the other party confirms your request, the color will turn into dark grey to indicate that you have been associated with a non-public psinque
    </li>
  </ol>

  <h3>Associating Psinque with a Persona</h3>
  <p>
    Describe
  </p>

  <h3>Removing a psinque</h3>
  <p>
    Describe
  </p>

  <h3>Notifications</h3>
  <p>
    Describe
  </p>

{% endb
{% endblock %}