{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>How does Psinque work?</h3>
  <p>
    Think of Psinque as a system of buckets interconnected by lines. You can put anything you want in your bucket or remove any numbers of items, but the connecting line will not be severed.
  </p>
  <p>
    Psinque does exactly the same with your contact information. Once a link (or as we call it - 'psinque') has been established, you can modify your phone numbers, change your name, modify or add a new address and Psinque will automatically and seamlessly provide this data to your contacts.
  </p>

{% endblock %}
