{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>What are Personas?</h3>
  <p>
  	Personas are diferent views of your Profile, a sort of "alter egos". They serve as filters and allow contacts associated with a particular Persona to synchronize only a designated subset of your Profile data. Let's use an example here: Say you have a bunch of work colleagues that should not be aware of your private phone number, home address or funny nicknames, but should always have your most current work details. You could create a 'Work' Persona, filter out any non-work related information and associate your professional contacts with it.
  </p>

  <h3>What is a public Persona?</h3>
  <p>
  	Public Personas are Personas that anyone using Psinque can view or synchronize with their mobile device. Imagine you have a company and would like to provide your contact data to as many clients as you can. At the same time the idea of having thousands of contacts in your device just doesn't seem right. Well, this is the reason, why we came up with Public Personas. It is basically a one way connection, where people feed on the data you provide at the same time retaining their privacy.
  </p>

  <h3>Creating new Persona</h3>
  <p>
    
  </p>

  <h3>Deleting existing Persona</h3>
  <p>
    
  </p>


{% endblock %}
