{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>Concept behind Psinque</h3>
  <p>
    Psinque is the last phone book you will ever need. Think of it as of a set of your name cards that you give to your friends. Except that once you give a name card, you will be able update it later so that your friends will always have up-to-date information. All that updating will be handled by Psinque so you just update your data and let us do the rest.
  </p>

  <h3>Back-end Technology</h3>
  <p>
    Psiqnue uses the <a href="http://en.wikipedia.org/wiki/CardDAV">CardDAV protocol</a> to keep your phonebook up to date. CardDAV is a relatively new technology, but has already gained wide acceptance and is supported either natively (e.g., iOS, GMail, Zimbra, ownCloud) or with the assistance of third party applications (e.g., <a href="https://play.google.com/store/apps/details?id=org.dmfs.carddav.sync&hl=en">CardDAV-sync</a> for Android).
  </p>

{% endblock %}
