{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}

  <p>
    If you have a device running iOS, you're in luck since iOS devices have built-in native CardDAV support. If you follow these few simple steps, you will be running Psinque on your iPhone or iPad in no time.
  </p>
  <p>
    Before you proceed, make sure that you have enabled CardDAV synchronization in your Psinque settings and have your unique login/password combination ready.
  </p>
  
  <ol>
    <li>
      Open the Setting menu.
    </li>
    <li>
      Select "Mail, Contacts, Calendars"
      <img src="/images/help/ios7_en_carddavsetup_1.png" />
    </li>
    <li>
      Select "Add Account"
      <img src="/images/help/ios7_en_carddavsetup_2.png" />
    </li>
    <li>
      Choose "Other"
      <img src="/images/help/ios7_en_carddavsetup_3.png" />
    </li>
    <li>
      From the "Contacts" section select "Add CardDAV Account"
      <img src="/images/help/ios7_en_carddavsetup_4.png" />
    </li>
    <li>
      
    </li>
    <li>
      Type in the following data:
      <ul>
        <li>
          Server: psinque.com
        </li>
        <li>
          User Name: <your unique user name>
        </li>
        <li>
          Password: <your unique password>
        </li>
        <li>
          Description: Psinque
        </li>
      </ul>
      <img src="/images/help/ios7_en_carddavsetup_5.png" />
    </li>
    <li>
      Press Next in the top right corner of your screen.
    </li>
  </ol>

{% endblock %}