{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}

  <p>
    By now you have edited your Profile and created various Personas. Now it is time to start establishing contacts or as we call them - psinques.
  </p>

  <h3>What is a 'psinque'?</h3>
  <p>
    Psinque is our name for a connection between two contacts. However unlike connection in real life, unless consciously severed psinque will exist forever. Usually when a person moves, changes phone number or email address, chances are that you might loose touch. With psinques this is not the case.
  </p>
  <p>
    Psinques can divided into incomming, outgoing or both. Let's discuss them in detail and see how they impact the contents of your mobile device's phonebook.
  </p>
  
  <h3>Incomming Psinques</h3>
  <p>
    Incomming psinques are connections to people who share their personal information with you. This means, that once they will update their personal information, your device will be automatically updated. Contacts marked only as 'incomming psinque' will never get your profile updates.
  </p>

  <h3>Outgoing Psinques</h3>
  <p>
    Outgoing psinques are connections to people with whom you share your personal information. Everytime you adjust your profile, their devices will be automatically updated as defined in the Personas associated with them. Contacts marked only as 'outgoing psinque' will never show up in your device's phonebook.
  </p>

  <h3>Searching and adding contacts</h3>
  <p>
    Searching for contacts requires knowing their primary email address. To find and add one, do the following:
  </p>
  <ol>
    <li>
      In the top menu click Psinques.
    </li>
    <li>
      In the empty field in the 'New psinque' section type in the primary email of the searched user.
    </li>
    <li>
      Click on the magnifying glass icon to start the search.
    </li>
    <li>
      If the searched user has enabled public persona, you will immediately be able to add that user to your psinques.
    </li>
    <li>
      If the searched user has disabled public persona, you will have to request private information to add that user to your phonebook. Psinque will perform this step automatically.
    </li>
  </ol>

  <h3>Handling incomming requests</h3>
  <p>
    If someone would like to add you to his contacts, a notification will be displayed in the Psinques window. This window will contain the information about the requestor and at the same time allow you to assign that person to a persona of your choice.
  </p>

  <h3>Requesting private information</h3>
  <p>
    If you already have access to your contact's public persona, you may want to elevate this status in order to access more private data. If you would like to request access to private information, do the following:
  </p>
  <ol>
    <li>
      In the top menu click Psinques.
    </li>
    <li>
      Find a contact what you would like to ask to provide you with private information access.
    </li>
    <li>
      Click the key icon next to that contact's personal infomration. The color of the key will change to red to indicate pending request.
    </li>
    <li>
      Once the other party confirms your request, the color will turn into dark grey to indicate that you have been associated with a non-public psinque.
    </li>
  </ol>

  <h3>Associating Psinque with a Persona</h3>
  <p>
    Once a new psinque has been created, it will be automatically associated with a Default Persona, which most likely has a very limited number of personal information disclosed. You may want to change this if you would like to grant your new contact access to more private data.
  </p>
  <ol>
    <li>
      In the top menu click Psinques.
    </li>
    <li>
      Find a contact what you would like to ask to associate with another Persona.
    </li>
    <li>
      In the drop down select name of the persona you would like to assign to that psinque.
    </li>
    <li>
      Click Save to commit changes.
    </li>
  </ol>

  <h3>Removing a psinque</h3>
  <p>
    Once you decide to remove a person from your psinques, both his data will be removed from your devices and your data from his the next your devices will synchronize with psinque.com.
  </p>
  <p>
    Please be aware that deleting a psinque is an irreversible process. If you did so by mistake, the only way to reverse it is by resubmitting a psinque request. If you still would like to proceed, do the following:
  </p>
  <ol>
    <li>
      In the top menu click Psinques.
    </li>
    <li>
      Find a contact what you would like to ask to remove.
    </li>
    <li>
      Click on the remove button next to that contact.
    </li>
    <li>
      (Stasiu: check if this is OK) Click Save to commit changes.
    </li>
  </ol>

{% endb
{% endblock %}