{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}

  <p>
    By now you have edited your Profile and created various Personas. Now it is time to start establishing contacts or as we call them - psinques.
  </p>

  <h3>What is a 'psinque'?</h3>
  <p>
    Psinque is our name for a connection between two contacts. However unlike real life connection, a psinque will exist forever, unless consciously severed. In real life, if a peson moves, changes phone number, email address or gets married, chances are that a contact might be lost.
  </p>
  <p>
    Psinques can divided into incomming, outgoing or both. Let's discuss them in detail and see how they impact the contents of your mobile device's phonebook.
  </p>
  
  <h3>Incomming Psinques</h3>
  <p>
    Describe
  </p>

  <h3>Outgoing Psinques</h3>
  <p>
    Describe
  </p>

  <h3>Searching for contacts</h3>
  <p>
    Describe
  </p>

  <h3>Adding a contact</h3>
  <p>
    Describe
  </p>

  <h3>Requesting private information</h3>
  <p>
    Describe
  </p>

  <h3>Associating Psinque with a Persona</h3>
  <p>
    Describe
  </p>

  <h3>Removing a psinque</h3>
  <p>
    Describe
  </p>

{% endb
{% endblock %}