{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>What is a Profile?</h3>
  <p>
    Profile is a collection of all your personal data, your digital 'self'. Combined with the filters provided by <a href='/personas/view'>Personas</a>, the informatioan you add or modify in the Profile page will be immediately synchronized with your contacts' phonebooks.
  </p>
  
  <h3>Pictures</h3>
  <p>
    The pictures sections can be found on the left hand side of the Profile page. You can upload as much pictures as you want and assign them later to particular <a href='/personas/view'>Personas</a>. Suppoerted formats are JPG, JPEG, PNG and TIFF.
  </p>
  <p>
    To upload a new picture, press the plus sign at the bottom of the section. To delete one, simply press the cross sign in the top left corner of the picture that you would like to remove.
  </p>

  <h3>Name</h3>
  <p>
    Except for the two 'Romanization' fields, this section is self-explanatory. Romanization attributes are designated for users coming from countries, where non-latin alphabet is in use (e.g. Japan, India, Korea, China, Russia or Middle East). If you come from such a region, you might still want your foreign contacts to be able to read and search for your name in their phonebooks. If so, use the regular "First Name" and "Last Name" fields to write your name in your native language (Psinque offers full Unicode support) and 'romanize'"' it using the respective romanization fields to the right.
  </p>

  <h3>Nickname</h3>
  <p>
    Nickname section is deignated for, well, nicknames. You may include as many nicknames as you wish and assign them later to particular Personas. To add a new nickname, type it in the first empty field of the section and click the plus sign on the right hand side. To remove an existing one, press the cross sign to the left of the nickname that you would like to remove.
  </p>

  <h3>Company</h3>
  <p>
    This section is designated for your "business self". In the company field type in the name of your employer (e.g. Psinque) and in the professional title - your currently held position (e.g. CEO). If you work for more than one company, you can always add another entry by entering the values in the empty fields at the top of the company section and clicking the plus sign on the right hand side. To remove an existing entry, simply click the cross sign.
  </p>

  <h3>Birthday</h3>
  <p>
    If you have any questions regarding the birthday section, please seek medical advice ;-)
  </p>

  <h3>Primary Email</h3>
  <p>
    The primary email will be used by others to find you. Don't panic! If you haven't created any public persona, the search will only show that an entry matching your email has been found. The serch results will not disclose any personal information.
  </p>
  <p>  
    If you have designated a Public Persona, the search will yield the data you have defined in that Persona.
  </p>

  <h3>Additional Emails</h3>
  <p>
    If you have more than one email (e.g. company) save it in the additional emails section. You may add (using the plus sign) or remove (using the cross sign) additional entries at any time.
  </p>

  <h3>Physical Address</h3>
  <p>
    In the physical address section save your physical (a.k.a real life) address. Clicking the pin icon will display that location on a map.
  </p>

  <h3>Phone Numbers, IM, WWW</h3>
  <p>
    In the final three sections save all your phone numbers (mobile, landline, work etc.), Instant Messangers and links to your web pages. Since this is sensitive data, let us emphasize it once again: You will decide later who gets to see each piece of information. Saving it here is just laying foundations for building your Personas.
  </p>

{% endblock %}