{% extends "templates/static.html" %}
{% block title %}About us{% endblock %}
{% block content %}
  
  <h3>What is Psinque?</h3>
  <p>
    Psinque is the last phone book you will ever need. But it is a different kind of phonebook, one that you'll immediately fall in love with. Psinque keeps contact details in your smartphone up-to-date at all times and makes sure that once you change your own data, your friends' devices will be automatically and seamlessly updated. No harrasing pop-ups, no action required. Just pure magic.
  </p>
  
  <h3>How to pronounce Psinque?</h3>
  <p>
    As the word "sync". <a href="http://en.wikipedia.org/wiki/Psmith" class="contentlinks"><i>The 'p' is silent as in "pshrimp".</i></a>
  </p>

  <h3>Is Psinque another social network?</h3>
  <p>
    Psinque is far from it. Our goal is only to materialize the connections from your real life in a digital world and make them last forever. If you feel like posting pictures of your food and checking-in whenever you are in a toilet, use the services that were designed for it.
  </p>
  
  <h3>Our mission</h3>
  <p>
    Psinque is a young and dynamic team of people commited to one mission: to help you stay in touch with your contacts indefinitely with as little overhead and engagement as possible. 
  </p>

  <h3>Our story</h3>
  <p>
    The idea behind Psinque was born in 2012. Krzysztof, a native Pole living in Germany had to purchase a new prepaid SIM card each time he visited his home country. His friends complained about him having constantly change his numbers and he himself often forgot to inform everyone about the switch. Together with Stanisław they came up with a solution to the problem and started working on back then a no-named tool that evolved into Psinque. Piotr joined the team a few months later to support us in legal matters.
  </p>

  <h3>Meet the team:</h3>
  
  <h4>Piotr Głuchowski, CLO</h4>
  <p>
    I am a bio.
  </p>
    
  <h4>Stanisław Raczyński, CTO</h4>
  <p>
    Stanisław has received a Master diploma from the Gdańsk University of Technology (GUT), Poland, in 2007 and a Ph.D. diploma from the University of Tokyo, Japan, in 2011, both in the field of acoustic signal processing. He currently works as an adjunct professor at GUT. He spends his spare time on various projects that combine his experience in engineering, his research skills and his interest in the world of commerce.
  </p>
  
  <h4>Krzysztof Radecki, CEO</h4>
  <p>
    Krzysztof (Chris) graduated from University of Gdańsk, class of 2007. He holds a Master's degree in economics and for the past 6 years has been working as a business intelligence consultant on projects in Germany, Switzerland and United Arab Emirates.
  </p>

  <h3>Public Relations</h3>
  <p>
    If you have any questions regarding either our company or our products, do not hesitate to contact us. We will be happy to provide you with any information we can.
  </p>
  
{% endblock %}
