{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>What are personas?</h3>
  <p>
  	Simply said, Personas are diferent views of your personal profile. They serve as filters that show to a group of people associated with that particular Persona only these personal data you would like them to see. Say you have a bunch of work colleages that should not be aware of your private phone number or home address, but should always have your most current work details.
  </p>

  <h3>What is a public persona?</h3>
  <p>
  	Imagine you have a company and would like to provide your contact data to as many clients as you can. At the same time the idea of having thousands of contacts in your phone just doesn't seem right. Well, this is the reason, why we created public personas. It is basically a one way connection, where people feed on the data you provide at the same time retaining their privacy.
  </p>

{% endblock %}
