{% extends "templates/static.html" %}
{% block title %}Getting started with Psinque{% endblock %}
{% block content %}
  
  <h3>Overview</h3>
  <p>
    Visit our overview page if you would like to know how does Psinque work and how it differs from other simmilar solutions. This is a good place start your adventure with us.
  </p>

  <h3>Editing your Profile</h3>
  <p>
    If you decide that Psinque is just the right thing for you, the first thing you should do is edit your personal information in the <a>profile</a> page. It should be as complete as possible. Try not to omit any information as the more you include, the more flexible with creating your <a>personas</a> you will be. This section will guide you through the process and highlight the most relevant information. Remember - we value your privacy! To find out how will the information provided by you used, review our Terms of Service and Privacy policy.
  </p>

  <h3>Creating your Personas</h3>
  <p>
    Once you have set up your profile it is time to create and adjust your personas. Think of personas as of digital disguises - with their assistance you can create multiple views of your profile and decide what will your contacts see. You could create one persona for your work colleagues (and hide your private contact data from them), one for your best friends and one for your family.
  </p>

  <h3>Managing your Psinques</h3>
  <p>
    Ok, so you have completed your profile and created first personas. Now it's time to create your first connections, or as we refer to them - psinques. This chapter will guide you through the process of managing incoming and outgoing psinques.
  </p>

  <h3>Configuring your mobile devices</h3>
  <p>
    Only once you synchronize your mobile device with Psinque, will you be able to discover and harness the true power behind it. Psinque uses CardDAV protocol so synchronize your phonbeook and most of the devices on the market either support it natively or with an assistance of a third party application. For a step-by-step description tailored for your devicede, visit the following pages:
    <ul>
    <li>
        iOS devices
    </li>
    <li>
        Android devices
    </li>
    <li>
        Windows Mobile devices
    </li>
    </ul>
  </p>

  <h3>Pricing</h3>
  <p>
    Our pricing is based on a freemium model. Visit this chapter to find out more about it.
  </p>

  <h3>Support</h3>
  <p>
    Psinque is currently in the beta phase and although we are doing our best, we are aware that there still might be some issues. Should you encounter any probles with your Psinque experience, do not hesitate to contact as at support[at]psinque.com.
  </p>
  <p>
    If you feel that your IT skills are beyond those of a regular user, you would describe yourself as an early adopter and would like to support us, why not becomming part of our Community Test Team? After reviewing your request, we will provide you with access to our newest realeases and grant you credentials to create bug reports in our bug tracking tool.
  </p>

  <h3>Glossary</h3>
  <p>
    Find out more about more about the terminology we are using at Psinque
  </p>

{% endblock %}
