{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  
  <h3>What are Personas?</h3>
  <p>
  	Personas are diferent views of your Profile, a sort of 'alter egos'. They serve as filters and allow contacts associated with a particular Persona to synchronize only a designated subset of your Profile data. Let's use an example here: Say you have a bunch of work colleagues that should not be aware of your private phone number, home address or funny nicknames, but should always have your most current work details. You could create a 'Work' Persona, filter out any non-work related information in your Profile and associate your professional contacts with it.
  </p>

  <h3>Difference between a Profile and Personas</h3>
  <p>
    Imagine that Profile is a collection of building blocks, where each block is a piece of personal information. You have a block with your name, another one with phone number, third one with physical address and so on. Personas use those bulding blocks to create a depiction of yourself your contacts will see. Creating a Persona is just like building a houses. You have the same basic set of ingredients, but the final result will differ.
  </p>

  <h3>What are Public Personas?</h3>
  <p>
  	Public Personas can be seen or synchronized by anyone using Psinque. You are free to use them as a private person, but they were created with business users in mind. If you have for example a Pizza Parlor or a shoe repair shop, you could use Public Personas to always keep your customers' devices up-to-date with your contact data.
  </p>

  <h3>Creating new Persona</h3>
  <p>
    In order to create a new persona, perform the following steps
  </p>
  <ol>
    <li>
      In the context menu click Personas
    </li>
    <li>
      In the empty field in the 'New persona' section type in the desired named and click the 'plus' sign to the right
    </li>
    <li>
      Once created, the new persona will automatically open and you will be able to see every element from your profile
    </li>
    <li>
      Select the elements from your Profile that you would like to associate with that Persona, by checking or unchecking the box next to an element
    </li>
    <li>
      Once ready, save your changes using the Save button in the bottom section of that Persona
    </li>
  </ol>

  <h3>Generating vCard for a Persona</h3>
  <p>
    Describe
  </p>

  <h3>Activating a Public Persona</h3>
  <p>
    
  </p>

  <h3>Editing Persona</h3>
  <p>
    
  </p>

  <h3>Deleting existing Persona</h3>
  <p>
    
  </p>


{% endblock %}
