{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  <p>
    A profile should be the very first thing you create when you join Psinque. It is a collection of all your personal data, but don't worry - it is not what others will see. We will come to that part later in the <a href='/link/to/personas'>Personas</a> section.
  </p>
  <p>
    Combined with the power and flexibility of <a href='/link/to/personas'>Personas</a>, the informatioan you provide in the Profile section will be immediately visible to your contacts. Changes to your phone number, last name or address will be automatically and seamlessly propagated to their devices without any extra efort from either side.
  </p>
  <p>
    When creating your Profile try to give as much information as you can. It is also in your own interest to keep the Profile accurate and up to date. Remember: you are updating your contacts' phonebooks by editing this data. 
  </p>
  <p>
    Now let's go through all the major elements in your own Profile page.
  </p>
  
  <h3>Pictures</h3>
  <p>
    The pictures sections can be found on the left hand side of the Profile page. You can upload as much pictures as you want and assign them later to particular <a href='/link/to/personas'>Personas</a>. Suppoerted formats are JPG, JPEG, PNG and TIFF.
  </p>
  <p>
    To upload a new picture, press the plus sign at the bottom of the section. To remove one, simply press the cross sign to the left of the picture that you would like to remove.
  </p>

  <h3>Name</h3>
  <p>
    Except for the two "Romanization" fields, this section is self-explanatory. Romanization attributes are designated for users coming from countries, where non-latin alphabet is in use (e.g. Japan, India, Korea, China, Russia or Middle East). If you come from such a region, you might still want your foreign contacts to be able to read and search for your name in their phonebooks. If so, use the regular "First Name" and "Last Name" fields to write your name in your native language (Psinque offers full Unicode support) and "romanize" it using the respective romanization fields to the right.
  </p>

  <h3>Nickname</h3>
  <p>
    Nickname section is deignated for, well, nicknames. You may include as many nicknames as you wish and assign them later to particular Personas. To add a new nickname, type it in the first empty field of the section and click the plus sign on the right hand side. To remove an existing one, press the cross sign to the left of the nickname that you would like to remove.
  </p>

  <h3>Company</h3>
  <p>
    This section is designated for your "business self". In the company field type in the name of your employer (e.g. Psinque) and in the professional title - your currently held position (e.g. CEO). If you work for more than one company, you can always add another entry by entering the values in the empty fields at the top of the company section and clicking the plus sign on the right hand side. To remove an existing entry, simply click the cross sign.
  </p>

  <h3>Birthday</h3>
  <p>
    If you have any questions regarding the birthday section, please seek medical advice ;-)
  </p>

  <h3>Primary Email</h3>
  <p>
    The primary email will be used by others to find you. Don't panic! If you haven't created any public persona, the search will only show that an entry matching your email has been found. The serch results will not disclose any personal information.
  </p>
  <p>  
    If you have designated a Public Persona, the search will yield the data you have defined in that Persona.
  </p>

  <h3>Additional Emails</h3>
  <p>
    If you have more than one email (e.g. company) save it in the additional emails section. You may add (using the plus sign) or remove (using the cross sign) additional entries at any time.
  </p>

  <h3>Physical Address</h3>
  <p>
    In the physical address section save your physical (a.k.a real life) address. Clicking the pin icon will display that location on a map.
  </p>

  <h3>Phone Numbers, IM, WWW</h3>
  <p>
    In the final three sections save all your phone numbers (mobile, landline, work etc.), Instant Messangers and links to your own web pages. Since this is sensitive data, let us emphasize it once again: You will decide later who gets to see a perticular piece of information. Saving it here is just preparing of groundwork for your creating your Personas.
  </p>

{% endblock %}