{% extends "templates/static.html" %}
{% block title %}Support{% endblock %}
{% block content %}
  <p>
    Psinque is currently in the beta phase and although we are doing our best, we are aware that there are still some issues. Should you encounter any probles with your Psinque experience, do not hesitate to contact as at support[at]psinque.com.
  </p>
  <p>
    If you feel that your IT skills are beyond those of a regular user and you would like to support with them, why not becomming part of our Community Developers and Test team? After reviewing your request, we will provide you with access to our newest realeases and grant you credentials to create bug reports in our bug tracking tool.
  </p>
{% endblock %}
