{% extends "templates/static.html" %}
{% block title %}Terms of service{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    These Terms of Service ("TOS") govern your access to and usage of the Services and Content provided by Psinque sp. z o.o. With accessing or using Services and/or Content you agree to be bound by there Terms.
  </p>
  <p>
    The original text of this areement has been created in English. In case of discrepancies between translation and the original text, the English version applies.
  </p>
  <p>
    Date of the last modification: August 2013
  </p>

  <h3>Basic Terms and Definitions</h3>
  <ol>
    <li>
      Psinque is a contact synchronization tool.
    </li>
    <li>
      Psinque provides Services that allow the User to maintain his own personal contact data and create seamless and persisting links (also referret to as "psinques") to other Psinque Users.
    </li>
    <li>
      The Services in question include: websites, APIs, notifications, applications, protocols.
    </li>
    <li>
      The Users in question can be either physical persons or legal entities
    </li>
  </ol>
  
  <h3>Registration and Security</h3>
  <ol>
    <li>
      Only registered Users may utilize the Services provided by Psinque sp. z o.o.
    </li>
    <p>
      Each User may create only one account. It is strictly forbiden to create an acount for another User without that User's consent.
    </li>
    <li>
      It is forbidden to provide false personal information, however the amount of personal information disclosed is subject to User's decision. The User will keep the provided data accurate and up-to-date.
    </li>
    <li>
      The User will take proper measures to protect the login credentials. This includes: utilizing a secure password and never disclosing it to other parties.
    </li>
    <li>
      Psinque can never be held responible if the User's OpenID credentials leak due to security breach on the OpenID provider's side. Psinque may also never be held resposible if the User utilizes the native login credentials also in any other service than Psinque.
    </li>
  </ol>

  <h3>Ammendments and Termination</h3>
  <ol>
    <li>
      Psinque sp. z o.o. reserves the right to ammend these Terms of Service at any time with a prior notification. The notification period will be no shorter than 1 month and the date when new Terms of Service become valid will be clearly defined.
    </li>
    <li>
      During the notification period, the new verion of the Terms will be made available to public, however the old version will retain its validity.
    </li>
    <li>
      Lack of action by the User during the notification period will automatically mean that the User accepts the new Terms.
    </li>
    <li>
      The User may cancel the Service at any time. Upon such a request the User's data will be completly removed from the databases.
    </li>
  </ol>

  <h3>Privacy</h3>
  <p>
    Protection of your pesonal data is very important to us!
  </p>
  <ol>
    <li>
      User retains the ownership of any Content provided to the Service. This includes his personal data and graphical images.
    </li>
    <li>
      Psinque sp. z.o.o. will never share any Content provided by a User with third parties without that User's explicit consent.
    </li>
    <li>
      The User's personal data is exposed to other Psiqne Users only if a connection between both parties has been established. Creation of such a link grants Psinque sp. z o.o. the permission to share the contact information between the linked users.
    </li>
    <li>
      The level of contact information's detail shared between the Users is configurable via Permits. Besides an automatically generated default Permit, each user may define any number of private Permits and, should he choose to, one public Permit.
    </li>
    <li>
      If the User has created a Public Permit, any other User may establish a connection with that User and see the data disclosed in that Permit.
    </li>
    <li>
      Should the User decide to sever an existing connection with another user, Psinque will no longer provide updates to the Counterpart. However depending on the configuation of the Counterpart's device it is possible, that the User's most recent shared personal information will persist on that device until it has been manually removed.
    </li>
  </ol>

  <h3>Pricing</h3>
  <p>
    1. Please refere to <a href="link to page">Pricing</a> page for details.
  </p>
  
  <h3>Applicable law and Jurisdiction</h3>
  <p>
    1. These Terms of Service are subject to the interpretation of the laws of Republic of Poland.
  </p>
  <p>
    2. Any claims, legal proceedings and litigations arising in conjunction with the Service or its User will be brought in District Court of Warsaw.
  </p>
  
  <h3>Force Majeure</h3>
  <p>
    Klauzula sily wyzszej
  </p>

  <h3>Cookies</h3>
  <p>
    Cos o ciasteczkach
  </p>

  <h3>Personal Data Protection Clause</h3>
  <p>
    Personal Data Protection Clause (in accordance with the polish law)
  </p>
</div>
{% endblock %}
