{% extends "templates/static.html" %}
{% block title %}Terms of service{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    These Terms of Service ("TOS") govern your access to and usage of the Services and Content provided by Psinque sp. z o.o. With accessing or using Services and/or Content you agree to be bound by there Terms.
  </p>
  <p>
    The original text of this areement has been created in English. In case of discrepancies between translation and the original text, the English version applies.
  </p>
  <p>
    Date of the last modification: August 2013
  </p>

  <h3>Basic Terms</h3>
  <ol>
    <li>
      Psinque is a contact synchronization tool.
    </li>
    <li>
      Psinque provides Services that allow the User to maintain his own personal contact data and create seamless and persisting links (also referret to as "psinques") to other Psinque Users.
    </li>
    <li>
      The Services in question include: websites, APIs, notifications, applications, protocols.
    </li>
    <li>
      The Users in question can be either physical persons or legal entities
    </li>
  </ol>
  
  <h3>Registration, Security and Leavin The Service</h3>
  <p>
    1. Only registered Users may utilize the Services provided by Psinque sp. z o.o.
  </p>
  <p>
    2. Each User may create only one account. It is strictly forbiden to create an acount for another User without that User's consent.
  </p>
  <p>
    3. It is forbidden to provide false personal information, however the amount of personal information disclosed is subject to User's decision. The User will keep the disclosed data accurate and up-to-date.
  </p>
  <p>
    4. The user will take proper measures to protect the login credentials. This includes: utilizing a secure password and never disclosing it to other parties. This applies to both OpenID and native login.
  </p>
  <p>
    4. Psinque can never be held responible if the User's OpenID credentials leak due to OpenID provider's security breach. Psinque may also never be held resposible if the User utilizes the native login credentials also in any other service than Psinque.
  </p>
  <p>
    5. user may cancel the service at any point in time. Upon such a request his data will be completly removed from the databases
  </p>


  <h3>Privacy</h3>
  <p>
    Protection of your pesonal data is very important to us!
  </p>
  <p>
    1. User retains the ownership of any Content provided to the Service. This includes his personal data and graphical images collectively referred to as "My Card"
  </p>
  <p>
    2. Psinque sp. z.o.o. will never share any Content provided by a User with third parties without that User's explicit consent.
  </p>
  <p>
    3. The User's personal data is exposed to other Psiqne Users only if a connection between both parties has been established. Creation of such a link grants Psinque sp. z o.o. the permission to share the contact information between the linked users.
  </p>
  <p>
    4. The level of contact information's detail shared between the Users is configurable via Permits. Besides an automatically generated default Permit, each user may define any number of private Permits and, should he choose to, one public Permit.
  </p>
  <p>
    5. If the User has created a Public Permit, any other User may establish a connection with that User and see the data disclosed in that Permit.
  </p>
  <p>
    6. Should the User decide to sever an existing connection with another user, Psinque will no longer provide updates to the Counterpart. However depending on the configuation of the Counterpart's device it is possible, that the User's most recent shared personal information will persist on that device until it has been manually removed.
  </p>

  <h3>Pricing</h3>
  <p>
    1. Please refere to <a href="link to page">Pricing</a> page for details.
  </p>
  
  <h3>Applicable law and Jurisdiction</h3>
  <p>
    1. These Terms of Service are subject to the interpretation of the laws of Republic of Poland.
  </p>
  <p>
    2. Any claims, legal proceedings and litigations arising in conjunction with the Service or its User will be brought in District Court of Warsaw.
  </p>
  
  <h3>Force Majeure</h3>
  <p>
    Klauzula sily wyzszej
  </p>

  <h3>Cookies</h3>
  <p>
    Cos o ciasteczkach
  </p>

  <h3>Personal Data Protection Clause</h3>
  <p>
    Personal Data Protection Clause (in accordance with the polish law)
  </p>
</div>
{% endblock %}
