{% extends "templates/static.html" %}
{% block title %}Terms of service{% endblock %}
{% block content %}
<div class="onecolumn">
  <p>
    These Terms of Service ("TOS") govern your access to and usage of the Services and Content provided by Psinque sp. z o.o. With accessing or using both Services and Content you agree to be bound by there Terms.
  </p>

  <h3>Basic Terms and Definitios</h3>
  <p>
    1. "Services" include websites, APIs, notifications and applications. 
  </p>
  <p>
    2. "Content" includes text, graphics, photos and other uploaded or downloaded materials. 
  </p>
  <p>
    3. "Psinque" is a common term for both Services provided by Psinque sp. z o.o. and Content provided by the users.
  </p>

  <h3>Subject of the service</h3>
  <p>
    Subject of the Service
  </p>

  <h3>Privacy</h3>
  <p>
    Property over the provided data
  </p>

  <h3>Content</h3>
  <p>
    Property over the provided data
  </p>

  <h3>Applicable law and Jurisdiction</h3>
  <p>
    1. The Terms are subject to the interpretation of the laws of Republic of Poland.
  </p>
  <p>
    2. Any claims, legal proceedings and litigations arising in conjunction with this Service or its user will be brought in District Court of Warsaw.
  </p>

  <h3>Force Majeure</h3>
  <p>
    Klauzula sily wyzszej
  </p>

  <h3>Cookies</h3>
  <p>
    Klauzula sily wyzszej
  </p>

  <h3>Personal Data Protection Clause</h3>
  <p>
    Personal Data Protection Clause (in accordance with the polish law)
  </p>
</div>
{% endblock %}
