<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Contact synchronization</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="topheader">
    <h1>Contact Synchronizer</h1>
  </div>
  <div id="upperbar">
          <ul id="menu">
            {% for menuentry in menuentries %}
                  <li><a href="/{{ menuentry.url }}" title="{{ menuentry.title }}" class="{{ menuentry.entryclass }}">{{ menuentry.title }}</a></li>
            {% endfor %}
          </ul>
          <div id="loginmenu">
                  {{ username }}
                  <a href="{{ loginurl }}" class="toplink">{{ loginurl_linktext }}</a>
          </div>
  </div>
  <div id="contentwrapper">
