<!-- ********************************************************
     * Form definitions -->
     
{% macro beginform(id="") -%}
  <div class="tableform"{% if id %} id="{{ id }}"{% endif %}>
{%- endmacro %}

{% macro endform() -%}
  </div>
{%- endmacro %}

{% macro begintable(tableid="", rowclass="") -%}
  <table{% if tableid %} id="{{ tableid }}"{% endif %}>
  <tbody>
  <tr{% if rowclass %} class="{{ rowclass }}"{% endif %}>
{%- endmacro %}

{% macro tablelabel(tablelabel, rowspan=1, labelid="") -%}
  <td class="formlabels" rowspan="{{ rowspan }}"{% if labelid %} id="{{ labelid }}"{% endif %}>
    <label>{{ tablelabel }}</label>
  </td>
{%- endmacro %}

{% macro endtable() -%}
  </tr>
  </tbody>
  </table>
{%- endmacro %}

{% macro newrow(class="") -%}
  </tr>
  <tr{% if class %} class="{{ class }}"{% endif %}>
{%- endmacro %}

<!-- ********************************************************
     * Single UI elements -->
     
{% macro spacer() -%}
  <td><br style="clear:both;"/></td>
{%- endmacro %}

{% macro button(id, action, class="", index="") -%}
  <td class="forminputs formbuttons">
    <span class="buttons clickable {{ class }}" id="{{ action }}{{ id }}{{ index }}"{% if index %} data-psinque-index="{{ index }}"{% endif %}>
    <img src="/images/button_{{ action }}.png" alt="{{ action }}" />
    </span>
  </td>
{%- endmacro %}

{% macro addbutton(id) -%}
  {{ button(id, "add") }}
{%- endmacro %}

{% macro createbutton(id) -%}
  {{ button(id, "create") }}
{%- endmacro %}

{% macro removebutton(id, class="", index="") -%}
  {{ button(id, "remove", class, index) }}
{%- endmacro %}

{% macro savebutton(class="", index="") -%}
  {{ button("button", "save", class, index) }}
{%- endmacro %}

{% macro dropdown(items, selected, id="", class="", tdclass="") -%}
  <td class="forminputs{% if tdclass %} {{ tdclass }}{% endif %}">
    <select id="{{ id }}"{% if class %} class="{{ class }}"{% endif %} data-template="#dropdown">
    {% if items is mapping %}
      {% for itemCode, itemName in items.iteritems() %}
        <option value="{{ itemName }}" {% if itemName == selected %}selected="selected"{% endif %}>{{ itemCode }}</option>
      {% endfor %}
    {% else %}
      {% for item in items %}
        <option value="{{ item }}" {% if item == selected %}selected="selected"{% endif %}>{{ item }}</option>
      {% endfor %}
    {% endif %}
    </select>
  </td>
{%- endmacro %}

{% macro textlabel(text, class="", id="", keyvalue="", keyclass="") -%}
  <td class="forminputs">
    {% if keyvalue %}
    <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}">
    {% endif %}
    <label {% if class %}class="{{ class }}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>{{ text }}</label>
  </td>
{%- endmacro %}

{% macro checkbox(id, checked, text) -%}
  <td class="forminputs formbuttons">
    <span class="checkboxwrapper">
      <input type="checkbox" id="{{ id }}" {% if checked %}checked="checked"{% endif %} />
      <div class="checkboxdiv"></div>
    </span>
  </td>
  <td class="forminputs">
    <label for="{{ id }}">{{ text }}</label>
  </td>
{%- endmacro %}

{% macro labelcheckbox(label, idstub, checked, index, class, value, name="", subindex="") -%}
  <td class="formlabels">
    <input type="checkbox" id="{{ idstub }}_{{ index }}" {% if checked %}checked="checked"{% endif %} data-psinque-index="{{ index }}" data-psinque-subindex="{{ subindex }}" class="{{ class }}" {% if name %}name="{{ name }}"{% endif %}/>
    <div class="checkboxdiv"></div>
    <label for="{{ idstub }}_{{ index }}" class="clickable">{{ label }}</label>
  </td>
  <td class="forminputs">
    <label class="generallabels">{{ value }}</label>
  </td>
{%- endmacro %}

{% macro textinput(value, placeholder="", id="", class="") -%}
  <td class="forminputs">
    <input type="text" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} value="{{ value }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} />
  </td>
{%- endmacro %}

{% macro passwordinput(id="", class="", hint="") -%}
  <td class="forminputs">
    <input type="password" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} {% if hint %}title="{{ hint }}"{% endif %} />
  </td>
{%- endmacro %}

{% macro textinputwithkey(value, placeholder, id, class, index, keyvalue="", keyclass="", colspan="") -%}
  <td class="forminputs"{% if colspan %} colspan="{{ colspan }}"{% endif %}>
    <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}" id="{{ id }}key{{ index }}" />
    <input type="text" id="{{ id }}{{ index }}" {% if class %}class="{{ class }}"{% endif %} value="{{ value }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if index %}data-psinque-index="{{ index }}"{% endif %}/>
  </td>
{%- endmacro %}


<!-- ********************************************************
     * Whole tables -->
     
{% macro multipletextinput(label, inputid, values, placeholder="") -%}
  <table>
    <tbody>
      {{ tablelabel(label, values|count + 1) }}
      {% for value in values %}
        <tr>
          {{ textinput(value, placeholder, inputid ~ loop.index) }}
          {% if loop.first %}
            {{ addbutton(inputid) }}
          {% else %}
            {{ removebutton(inputid) }}
          {% endif %}
        </tr>
      {% else %}
        <tr>
          {{ textinput(value, placeholder, inputid ~ "1") }}
          {{ addbutton(inputid) }}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% macro multipletextinputwithtypes(items, itemTypes, privacyTypes, tableLabel, prefix) -%}
  <table id="{{ prefix ~ 'stable' }}">
    <tbody>
      {% for item in items %}
        {% set loopFirst = loop.first %}
        {% set loopIndex = loop.index %}
        {% set itemCount = items|count %}
        {% set itemKey = item.key() %}
        {% set itemValue = item.itemValue %}
        {% set itemType = item.itemType %}
        {% set privacyType = item.privacyType %}
        {% include "templates/MyCard_TextItem.html" %}
      {% else %}
        {% set loopFirst = True %}
        {% set loopIndex = 1 %}
        {% set itemCount = 1 %}
        {% set itemKey = "" %}
        {% set itemValue = "" %}
        {% set itemType = itemTypes[0] %}
        {% set privacyType = "Home" %}
        {% set privacyTypes = privacyTypes %}
        {% include "templates/MyCard_TextItem.html" %}
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
