<!-- ********************************************************
     * Form definitions -->
     
{%- macro beginform(id="", class="", index="") -%}
  <div class="tableform {% if class %}{{ class }}{% endif %}" {% if id %}id="{{ id }}"{% endif %} {% if index %}data-psinque-subindex="{{ index }}"{% endif %}>
{%- endmacro -%}

{%- macro endform() -%}
  </div>
{%- endmacro -%}

{%- macro begintable(tableid="", rowclass="") -%}
  <table {% if tableid %}id="{{ tableid }}"{% endif %}>
  <tbody>
  <tr {% if rowclass %}class="{{ rowclass }}"{% endif %}>
{%- endmacro -%}

{%- macro tablelabel(tablelabel, rowspan=1, labelid="") -%}
  <td class="formlabels" rowspan="{{ rowspan }}">
    <label {% if labelid %}id="{{ labelid }}"{% endif %}>{{ tablelabel }}</label>
  </td>
{%- endmacro -%}

{%- macro endtable() -%}
  </tr>
  </tbody>
  </table>
{%- endmacro -%}

{%- macro newrow(class="", id="") -%}
  </tr>
  <tr {% if class %}class="{{ class }}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>
{%- endmacro -%}

<!-- ********************************************************
     * Single UI elements -->
     
{%- macro spacer() -%}
  <td><br style="clear:both;"/></td>
{%- endmacro -%}

{%- macro button(id, action, class="", tooltip="", index="", divclass="") -%}
  <td class="forminputs formbuttons">
    <div {% if divclass %}class="{{ divclass }}"{% endif %}>
      <span title="{{ tooltip }}" class="buttons clickable buttons-{{ action }} {{ class }}" id="{{ action }}{{ id }}{{ index }}" {% if index %}data-psinque-index="{{ index }}"{% endif %}></span>
    </div>
  </td>
{%- endmacro -%}

{%- macro addbutton(id, tooltip="", divclass="") -%}
  {{ button(id, "add", tooltip=tooltip, divclass=divclass) }} 
{%- endmacro -%}

{%- macro removebutton(id, class="", tooltip="", index="") -%}
  {{ button(id, "remove", class, tooltip, index) }}
{%- endmacro -%}

{%- macro savebutton(class="", tooltip="", index="") -%}
  {{ button("button", "save", class, tooltip, index) }}
{%- endmacro -%}

{%- macro signinbutton(class="", index="") -%}
  {{ button("button", "signin", class, "Sign in", index) }}
{%- endmacro -%}

{%- macro searchbutton(class="", tooltip="", index="") -%}
  {{ button("button", "search", class, tooltip, index) }}
{%- endmacro -%}

{%- macro checkbutton(id, class, tooltip="") -%}
  {{ button(id, "check", class, tooltip) }}
{%- endmacro -%}

{%- macro dropdown(items, selected, id="", class="", tdclass="", placeholder="") -%}
  <td class="forminputs {% if tdclass %}{{ tdclass }}{% endif %}">
    <select id="{{ id }}" {% if class %}class="{{ class }}"{% endif %}>
    {% if items is mapping %}
      {% if placeholder %}
        <option value="{{ placeholder }}">None</option>
      {% endif %}
      {% for item in items|dictsort %}
        <option value="{{ item[0] }}" {% if item[0] == selected %}selected="selected"{% endif %}>{{ item[1] }}</option>
      {% endfor %}
    {% else %}
      {% for item in items %}
        <option value="{{ item }}" {% if item == selected %}selected="selected"{% endif %}>{{ item }}</option>
      {% endfor %}
    {% endif %}
    </select>
  </td>
{%- endmacro -%}

{%- macro dropdown_hierarchical(items, selected, id="", class="", tdclass="") -%}
  <td class="forminputs {% if tdclass %}{{ tdclass }}{% endif %}">
    <select id="{{ id }}" {% if class %}class="{{ class }}"{% endif %}>
    {% for itemClass, subitems in items.iteritems() %}
      <optgroup label="{{ itemClass }}">
        {% if subitems is mapping %}
          {% for item in subitems.keys() %}
            <option value="{{ itemClass }} {{ item }}" {% if (itemClass == selected[0]) and (subitems[item] == selected[1]) %}selected="selected"{% endif %}>{{ item }}</option>
          {% endfor %}
        {% else %}
          {% for item in subitems %}
            <option value="{{ itemClass }} {{ item }}" {% if (itemClass == selected[0]) and (item == selected[1]) %}selected="selected"{% endif %}>{{ item }}</option>
          {% endfor %}
        {% endif %}
      </optgroup>
    {% endfor %}
    </select>
  </td>
{%- endmacro -%}

{%- macro textlabel(text, class="", id="", keyvalue="", keyclass="", colspan="", divclass="") -%}
  <td class="forminputs textlabels" {% if colspan -%}colspan="{{ colspan }}"{%- endif %}>
    <div {% if divclass %}class="{{ divclass }}"{% endif %}>
      {% if keyvalue %}
        <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}">
      {% endif %}
      <label {% if class %}class="{{ class }}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>{{ text }}</label>
    </div>
  </td>
{%- endmacro -%}

{%- macro checkbox(id, checked, text) -%}
  <td class="forminputs formbuttons">
    <span class="checkboxwrapper">
      <input type="checkbox" id="{{ id }}" {% if checked %}checked="checked"{% endif %} />
      <div class="checkboxdiv"></div>
    </span>
  </td>
  <td class="forminputs">
    <label for="{{ id }}" id="{{ id }}label">{{ text }}</label>
  </td>
{%- endmacro -%}

{%- macro labelcheckbox(label, idstub, checked, index, class, value, name="", subindex="") -%}
  <td class="formlabels">
    <input type="checkbox" id="{{ idstub }}_{{ index }}" {% if checked %}checked="checked"{% endif %} data-psinque-index="{{ index }}" data-psinque-subindex="{{ subindex }}" class="{{ class }}" {% if name %}name="{{ name }}"{% endif %}/>
    <div class="checkboxdiv"></div>
    <label for="{{ idstub }}_{{ index }}" class="clickable">{{ label }}</label>
  </td>
  <td class="forminputs">
    <label class="generallabels" id="label{{ idstub }}_{{ index }}">{{ value }}</label>
  </td>
{%- endmacro -%}

{%- macro textinput(value, placeholder="", id="", class="", tdclass="", colspan="") -%}
  <td class="forminputs {% if tdclass %}{{ tdclass }}{% endif %}" {% if colspan %}colspan="{{ colspan }}"{% endif %}>
    <input type="text" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} value="{{ value }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} />
  </td>
{%- endmacro -%}

{%- macro passwordinput(id="", class="", hint="") -%}
  <td class="forminputs">
    <input type="password" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} {% if hint %}title="{{ hint }}"{% endif %} />
  </td>
{%- endmacro -%}

{%- macro textinputwithkey(value, placeholder, id, class, index, keyvalue="", keyclass="", colspan="") -%}
  <td class="forminputs" {% if colspan %}colspan="{{ colspan }}"{% endif %}>
    <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}" id="{{ id }}key{{ index }}" />
    <input type="text" id="{{ id }}{{ index }}" {% if class %}class="{{ class }}"{% endif %} value="{{ value }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if index %}data-psinque-index="{{ index }}"{% endif %}/>
  </td>
{%- endmacro -%}


<!-- ********************************************************
     * Whole tables -->
     
{%- macro multipletextinput(label, inputid, values, placeholder="") -%}
  <table id="{{ inputid }}stable">
    <tbody>
      {% for value in values %}
        <tr>
          {% if loop.first %}
            {{ tablelabel(label, values|count, inputid ~ "label") }}
          {% endif %}
          {{ textinput(value, placeholder, inputid ~ loop.index, inputid ~ "s") }}
          {% if loop.first %}
            {{ addbutton(inputid) }}
          {% else %}
            {{ removebutton(inputid) }}
          {% endif %}
        </tr>
      {% else %}
        <tr>
          {{ tablelabel(label, 1, inputid ~ "label") }}
          {{ textinput("", placeholder, inputid ~ "1", "nicknames") }}
          {{ addbutton(inputid) }}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro -%}

{%- macro multipletextinputwithtypes(items, itemTypes, privacyTypes, tableLabel, prefix) -%}
  <table id="{{ prefix ~ 'stable' }}">
    <tbody>
      {% set loopFirst = True %}
      {% set loopIndex = 1 %}
      {% set itemCount = items|count + 1 %}
      {% set itemKey = "" %}
      {% set itemValue = "" %}
      {% set itemType = itemTypes[0] %}
      {% set privacyType = "Home" %}
      {% set privacyTypes = privacyTypes %}
      {% include "templates/profile/TextItem.html" %}
      {% for item in items %}
        {% set loopFirst = False %}
        {% set loopIndex = loop.index %}
        {% set itemCount = items|count + 1 %}
        {% set itemKey = item.key() %}
        {% set itemValue = item.itemValue %}
        {% set itemType = item.itemType %}
        {% set privacyType = item.privacyType %}
        {% include "templates/profile/TextItem.html" %}
      {% endfor %}
    </tbody>
  </table>
{%- endmacro -%}
