<!-- ********************************************************
     * Form definitions -->
     
{% macro beginform(id="") -%}
  <div class="tableform"{% if id %} id="{{ id }}"{% endif %}>
{%- endmacro %}

{% macro endform() -%}
  </div>
{%- endmacro %}

{% macro begintable(tableid="", rowclass="") -%}
  <table{% if tableid %} id="{{ tableid }}"{% endif %}>
  <tbody>
  <tr{% if rowclass %} class="{{ rowclass }}"{% endif %}>
{%- endmacro %}

{% macro tablelabel(tablelabel, rowspan=1, labelid="") -%}
  <td class="formlabels" rowspan="{{ rowspan }}"{% if labelid %} id="{{ labelid }}"{% endif %}>
    <label>{{ tablelabel }}</label>
  </td>
{%- endmacro %}

{% macro endtable() -%}
  </tr>
  </tbody>
  </table>
{%- endmacro %}

{% macro newrow(class="") -%}
  </tr>
  <tr{% if class %} class="{{ class }}"{% endif %}>
{%- endmacro %}

<!-- ********************************************************
     * Single UI elements -->
     
{% macro spacer() -%}
  <td><br style="clear:both;"/></td>
{%- endmacro %}

{% macro button(id, action, class="", index="") -%}
  <td class="forminputs formbuttons">
    <span class="buttons clickable {{ class }}" id="{{ action }}{{ id }}{{ index }}"{% if index %} data-psinque-index="{{ index }}"{% endif %}>
    <img src="/images/button_{{ action }}.png" alt="{{ action }}" />
    </span>
  </td>
{%- endmacro %}

{% macro addbutton(id) -%}
  {{ button(id, "add") }}
{%- endmacro %}

{% macro createbutton(id) -%}
  {{ button(id, "create") }}
{%- endmacro %}

{% macro removebutton(id, class="", index="") -%}
  {{ button(id, "remove", class, index) }}
{%- endmacro %}

{% macro savebutton(class="", index="") -%}
  {{ button("button", "save", class, index) }}
{%- endmacro %}

{% macro dropdown(items, selected, id="", class="", tdclass="") -%}
  <td class="forminputs{% if tdclass %} {{ tdclass }}{% endif %}">
    <select id="{{ id }}"{% if class %} class="{{ class }}"{% endif %} data-template="#dropdown">
    {% for item in items %}
      <option value="{{ item }}" {% if item == selected %}selected="selected"{% endif %}>{{ item }}</option>
    {% endfor %}
    </select>
  </td>
{%- endmacro %}

{% macro dropdown2(items, selected, id="", class="") -%}
  <td class="forminputs">
    <select id="{{ id }}" class="{{ class }}" data-template="#dropdown">
    {% for itemCode, itemName in items.iteritems() %}
      <option value="{{ itemCode }}" {% if itemCode == selected %}selected="selected"{% endif %}>{{ itemName }}</option>
    {% endfor %}
    </select>
  </td>
{%- endmacro %}

{% macro textlabel(text, class="", id="", keyvalue="", keyclass="") -%}
  <td class="forminputs">
    {% if keyvalue %}
    <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}">
    {% endif %}
    <label class="{{ class }}">{{ text }}</label>
  </td>
{%- endmacro %}

{% macro checkbox(id, checked, text) -%}
  <td class="forminputs formbuttons">
    <span class="checkboxwrapper">
      <input type="checkbox" id="{{ id }}" {% if checked %}checked="checked"{% endif %}">
      <div class="checkboxdiv"></div>
    </span>
  </td>
  <td class="forminputs">
    <label for="{{ id }}">{{ text }}</label>
  </td>
{%- endmacro %}

{% macro labelcheckbox(label, idstub, checked, index, class, value) -%}
  <td class="formlabels">
    <input type="checkbox" id="{{ idstub }}_{{ index }}" {% if checked %}checked="checked"{% endif %} data-psinque-index="{{ index }}" class="{{ class }}" />
    <div class="checkboxdiv"></div>
    <label for="{{ idstub }}_{{ index }}" class="clickable">{{ label }}</label>
  </td>
  <td class="forminputs">
    <label class="generallabels">{{ value }}</label>
  </td>
{%- endmacro %}

{% macro textinput(value, placeholder="", id="", class="", keyvalue="", keyclass="") -%}
  <td class="forminputs">
    {% if keyvalue %}
    <input type="hidden" class="{{ keyclass }}" value="{{ keyvalue }}"/>
    {% endif %}
    <input type="text" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %} value="{{ value }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} />
  </td>
{%- endmacro %}

<!-- ********************************************************
     * Whole tables -->
     
{% macro singletextinput(label, inputid, value="") -%}
  {{ begintable() }}
  {{ tablelabel(label) }}
    <td class="forminputs">
      <input type="text" id="{{ inputid }}" value="{{ value }}" minlength="2" />
    </td>
  {{ endtable() }}
{%- endmacro %}

{% macro singletextinputwithbutton(tablelabel, inputid, placeholder="") -%}
  {{ begintable() }}
  {{ tablelabel(label) }}
    <td class="forminputs">
      <input type="text" id="{{ inputid }}" placeholder="{{ placeholder }}" minlength="2" />
    </td>
    {{ addbutton(inputid) }}
  {{ endtable() }}
{%- endmacro %}

{% macro multipletextinput(label, inputid, values, placeholder="") -%}
  {{ begintable() }}
  {{ tablelabel(label, values|count + 1) }}
    {% for value in values %}
      <td class="forminputs">
        <input type="text" id="{{ inputid }}{{ loop.index }}" value="{{ value }}" minlength="2" />
      </td>
      {{ removebutton(inputid) }}
    </tr>
    {% endfor %}
    <td class="forminputs">
      <input type="text" id="new{{ inputid }}" value="" placeholder="{{ placeholder }}" minlength="2" />
    </td>
    {{ addbutton(inputid) }}
  {{ endtable() }}
{%- endmacro %}
