<div id="content">
  <form action="/settings" method="POST">
    <p>Language</p>
    <select name="language">
    {% for language in availableLanguages.items %}
      <option {% ifequal language.0 preferredLanguage %} selected {% endifequal %} value="{{ language.0 }}">{{ language.1 }}</option>
    {% endfor %}
    </select>
    <p>Notifications</p>
    <ul>
      <li><input type="checkbox" name="newsletter">Send me a Newsletter</li>
    </ul>
    <input type="submit" value="Save" />
  </form>
</div>
